/* -------------------------------------------------------------------------- *\
*  _footer.scss: This partial file contains all 'footer' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General Tags >>---------->>

footer {
  // ...
}

// -  <<----------<< Specific Classes >>---------->>

/* -------------------------------------------------------------------------- *\
-  FOOTER-MAIN: Footer
\* -------------------------------------------------------------------------- */

.main-footer {
  // ...

  &__container {
    background-color: purple;
    // ...
  }

  &__container--nav {
    background-color: midnightblue;

    .foot-nav-text {
      // ...

      &__container {
        background-color: blue;
        // ...
      }

      &__title {
        padding: $buffer--s 0;
        background-color: aqua;
        // ...
      }

      &__paragraph {
        background-color: paleturquoise;
        // ...
      }
    }

    .foot-nav-links {
      @include breakpoint(s) {
        flex-direction: row;
      }
      // ...

      &__container {
        background-color: royalblue;
        // ...
      }

      &__title {
        padding: $buffer--s 0;
        background-color: aquamarine;
        // ...
      }

      &__list {
        background-color: turquoise;
        // ...
      }

      &__link {
        background-color: lightskyblue;
        white-space: nowrap;
        // ...
      }
    }
  }

  &__container--contact {
    background-color: darkgreen;

    @include breakpoint(xs) {
      @include flex-container(nowrap, row, space-evenly, center);
    }

    .foot-copyright {
      // ...
      &__container {
        flex-direction: row;
        padding: $buffer--xs;
        background-color: darkolivegreen;

        @include breakpoint(xs) {
          @include flex-items(2);
        }
      }

      &__link {
        background-color: lightgreen;
        // ...
      }
    }

    .foot-social-media {
      // ...

      &__container {
        flex-direction: row;
        justify-content: space-around;
        padding: $buffer--xs;
        background-color: seagreen;

        @include breakpoint(xs) {
          @include flex-items(8);

          justify-content: space-around;
        }

        @include breakpoint(s) {
          justify-content: space-evenly;
        }
      }

      &__link {
        padding: 0;
        background-color: lime;
      }
    }
  }
}
