/* -------------------------------------------------------------------------- *\
*  _footer.scss: This partial file contains all 'footer' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General Tags >>---------->>

footer {
  // ...
}

// -  <<----------<< Specific Classes >>---------->>

/* -------------------------------------------------------------------------- *\
-  FOOTER-MAIN: Footer
\* -------------------------------------------------------------------------- */

.main-footer {
  // ...

  &__container {
    // ...
  }

  &__container--nav {
    .foot-nav-text {
      // ...

      &__container {
        // ...
      }

      &__title {
        padding: $buffer--s 0;
        // ...
      }

      &__paragraph {
        // ...
      }
    }

    .foot-nav-links {
      @include breakpoint(s) {
        flex-direction: row;
      }
      // ...

      &__container {
        // ...
      }

      &__title {
        padding: $buffer--s 0;
        // ...
      }

      &__list {
        // ...
      }

      &__link {
        white-space: nowrap;
        // ...
      }
    }
  }

  &__hr {
    background-image:
      linear-gradient(to right,
      hsla(var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0),
      hsla(var(--color-foreground-h),
      var(--color-foreground-s),
      var(--color-foreground-l),
      0.75),
      hsla(var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0));
  }

  &__container--contact {
    @include breakpoint(xs) {
      @include flex-container(nowrap, row, space-evenly, center);
    }

    .foot-copyright {
      // ...
      &__container {
        flex-direction: row;
        padding: $buffer--xs;

        @include breakpoint(xs) {
          @include flex-items(2);

          justify-content: flex-start;
        }
      }

      &__link {
        // ...
      }
    }

    .foot-social-media {
      // ...

      &__container {
        flex-direction: row;
        justify-content: space-around;
        padding: $buffer--xs;

        @include breakpoint(xs) {
          @include flex-items(8);

          justify-content: space-around;
        }

        @include breakpoint(s) {
          justify-content: space-evenly;
        }
      }

      &__link {
        padding: 0;
      }
    }
  }
}
