/* -------------------------------------------------------------------------- *\
*  _nav.scss: This partial file contains all default 'nav' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< Generic >>---------->>

nav {
  width: 100%;
  list-style: none;
}

// -  <<----------<< Specific >>---------->>

nav ul {
  width: 100%;
  list-style: none;
}
