/* -------------------------------------------------------------------------- *\
*  _dark.scss: This partial file contains the 'dark' theme.
\* -------------------------------------------------------------------------- */

[data-theme='dark'] {
  --color-foreground--hsl: hsl(240, 100%, 99%);
  --color-background--hsl: hsl(240, 100%, 10%);
  --color-primary--hsl: hsl(27, 48%, 86%);
  --color-secondary--hsl: hsl(34, 42%, 36%);
  --color-tertiary--hsl: hsl(203, 42%, 36%);
}
