/* -------------------------------------------------------------------------- *\
*  _raf.scss: This partial file contains the 'raf' theme.
\* -------------------------------------------------------------------------- */

[data-theme='raf'] {
  --foreground-color:
  --background-color:
  --primary-color: #282C34 // #282C34
  --secondary-color: #293845 // #293845
  --tertiary-color: #b78846; // #b78846 goldbrown - original --> perfect
}



/* -------------------------------------------------------------------------- *\
-  Gray scales
\* -------------------------------------------------------------------------- */

// Dark One Theme Main background color = #282C34

// Random mid-dark-blue