/*----------------------------------------------------------------------------*\
// *  _dark.scss: This partial file contains the 'dark' theme.
\*----------------------------------------------------------------------------*/

:root,
[data-theme='dark'] {
  --foreground-color: hsl(240, 100%, 99%);
  --background-color: hsl(0, 3%, 6%);
  --primary-color: hsl(27, 48%, 86%);
  --secondary-color: hsl(34, 42%, 36%);
  --accent-color: hsl(203, 42%, 36%);
}
