/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< LIGHT V2 >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< VISUAL >>-------------------->>
\* -------------------------------------------------------------------------- */

:root,
[data-theme='light--v2'] {
  /* ------------------------------------------------------------------------ *\
// -  <<--------------------<< TRANSPARANT BG COLORS >>-------------------->>
\* -------------------------------------------------------------------------- */

  --bg-color--transparant---sofest: hsla(0, 0%, 100%, 0.05);
  --bg-color--transparant---softer: hsla(0, 0%, 100%, 0.2);
  --bg-color--transparant---soft: hsla(0, 0%, 100%, 0.35);
  --bg-color--transparant---medium: hsla(0, 0%, 100%, 0.5);
  --bg-color--transparant---hard: hsla(0, 0%, 100%, 0.65);
  --bg-color--transparant---harder: hsla(0, 0%, 100%, 0.8);
  --bg-color--transparant---hardest: hsla(0, 0%, 100%, 0.95);

  --selection: #9e9e9e;
  --text-main: #363636;
  --text-bright: #000;
  --text-muted: #70777f;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  --animation-duration: 0.1s;
  --button-hover: #ddd;
  --form-placeholder: #949494;
  --form-text: #000;
  --variable: #39a33c;
  --highlight: #ff0;
  // --select-arrow: svg-load('./assets/select-arrow.svg', fill: #161f27);

  /* ------------------------------------------------------------------------ *\
// -  <<--------------------<< REGULAR COLORS >>-------------------->>
\* -------------------------------------------------------------------------- */

  // #  <---------------| #000033 : Black Rock Variant |--------------->
  @include color-palette('foreground', 240, 100%, 10%, false);

  // #  <---------------| #f8f8ff : White Lilac Variant |--------------->
  @include color-palette('background', 240, 100%, 98.6%, false);

  // #  <---------------| #022e51 : Prussian Blue Variant |--------------->
  @include color-palette('primary', 206.6, 95.2%, 16.3%, true);

  // #  <---------------| #4676b9 : San Marino Variant |--------------->
  @include color-palette('secondary', 215, 45.1%, 50%, true);

  // #  <---------------| #b78846 : Driftwood Variant |--------------->
  @include color-palette('tertiary', 35, 44.7%, 49.6%, true);
}
