/* -------------------------------------------------------------------------- *\
*  _light.scss: This partial file contains the 'light' theme.
\* -------------------------------------------------------------------------- */

:root,
[data-theme='light'] {
  --foreground-color: hsla(240, 100%, 10%, 1); // #003 - deep-dark-blue
  --background-color: hsla(240, 100%, 99%, 1); // #f8f8ff off-white
  --primary-color: hsla(207, 95%, 16%, 1); // #022E51 - dark-mid-blue
  --secondary-color: hsla(215, 44%, 49%, 1); // #4676B9 - light-mid-blue
  --tertiary-color: hsla(35, 45%, 50%, 1); // #b78846 - mid-goldbrown
}
