/* -------------------------------------------------------------------------- *\
*  _light--raf.scss: This partial file contains the 'light--raf' theme.
\* -------------------------------------------------------------------------- */

[data-theme='light--raf'] {
  --foreground-color:
  --background-color:
  --primary-color: #282C34 // #282C34
  --secondary-color: #4674B4 // - #4674B4  midblue - complementary ---> perfect
  --tertiary-color: #b78846; // - #b78846 goldbrown - original --> perfect
}



/* -------------------------------------------------------------------------- *\
-  Gray scales
\* -------------------------------------------------------------------------- */

// Dark One Theme Main background color = #282C34

// Random mid-dark-blue = #293845

// background: radial-gradient(#003, #000); ---> perfect 