/* -------------------------------------------------------------------------- *\
*  _light--v1.scss: This partial file contains the 'light--v1' theme.
\* -------------------------------------------------------------------------- */

:root,
[data-theme='light--v1'] {
  // -  <<----------<< Background Colors >>---------->>

  /*  #  Transparant */
  --bg-color--transparant---sofest: hsla(0, 0%, 100%, 0.05);
  --bg-color--transparant---softer: hsla(0, 0%, 100%, 0.2);
  --bg-color--transparant---soft: hsla(0, 0%, 100%, 0.35);
  --bg-color--transparant---medium: hsla(0, 0%, 100%, 0.5);
  --bg-color--transparant---hard: hsla(0, 0%, 100%, 0.65);
  --bg-color--transparant---harder: hsla(0, 0%, 100%, 0.8);
  --bg-color--transparant---hardest: hsla(0, 0%, 100%, 0.95);

  // -  <<----------<< Foreground Colors >>---------->>

  /* #  Main */

  // #0f0e0e
  @include define-color-hsl(--color-foreground, 0, 3.4%, 5.7%);

  // #f7f5f5
  @include define-color-hsl(--color-background, 0, 11.1%, 96.5%);

  // #132636
  @include define-color-hsl(--color-primary, 207.4, 47.9%, 14.3%);

  // #b0c4de
  @include define-color-hsl(--color-secondary, 213.9, 41.1%, 78%);

  // #c8ac7f
  @include define-color-hsl(--color-tertiary, 37, 39.9%, 64.1%);
}
