:root,
[data-theme='light--v2'] {
  /* - ----------------------------------------------------------------------- */
  /* - <<--------------------<< TRANSPARANT BG COLORS >>-------------------->> */
  /* - ----------------------------------------------------------------------- */
  --bg-color--transparant---sofest: hsla(0, 0%, 100%, 0.05);
  --bg-color--transparant---softer: hsla(0, 0%, 100%, 0.2);
  --bg-color--transparant---soft: hsla(0, 0%, 100%, 0.35);
  --bg-color--transparant---medium: hsla(0, 0%, 100%, 0.5);
  --bg-color--transparant---hard: hsla(0, 0%, 100%, 0.65);
  --bg-color--transparant---harder: hsla(0, 0%, 100%, 0.8);
  --bg-color--transparant---hardest: hsla(0, 0%, 100%, 0.95);
  --selection: #9e9e9e;
  --text-main: #363636;
  --text-bright: #000;
  --text-muted: #70777f;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  --animation-duration: 0.1s;
  --button-hover: #ddd;
  --form-placeholder: #949494;
  --form-text: #000;
  --variable: #39a33c;
  --highlight: #ff0;
  /* -  ---------------------------------------------------------------- */
  /* -  <<--------------------<< REGULAR COLORS >>-------------------->> */
  /* -  ---------------------------------------------------------------- */
  /* #  ---------------------------------------- */
  /* #  text color group */
  /* #  ---------------------------------------- */
  --color-text--lightest: #4d4d70;
  --color-text--lighter: #262652;
  --color-text: #000033;
  --color-text--darker: #00002b;
  --color-text--darkest: #000024;
  /* #  ---------------------------------------- */
  /* #  background color group */
  /* #  ---------------------------------------- */
  --color-background--lightest: #fafaff;
  --color-background--lighter: #f9f9ff;
  --color-background: #f8f8ff;
  --color-background--darker: #d3d3d9;
  --color-background--darkest: #aeaeb3;
  /* #  ---------------------------------------- */
  /* #  primary color group */
  /* #  ---------------------------------------- */
  --color-primary--lightest: #4e6d85;
  --color-primary--lighter: #284d6b;
  --color-primary: #022e51;
  --color-primary--darker: #022745;
  --color-primary--darkest: #012039;
  /* #  ---------------------------------------- */
  /* #  secondary color group */
  /* #  ---------------------------------------- */
  --color-secondary--lightest: #7e9fce;
  --color-secondary--lighter: #628bc4;
  --color-secondary: #4676b9;
  --color-secondary--darker: #3c649d;
  --color-secondary--darkest: #315382;
  /* #  ---------------------------------------- */
  /* #  tertiary color group */
  /* #  ---------------------------------------- */
  --color-tertiary--lightest: #cdac7e;
  --color-tertiary--lighter: #c29a62;
  --color-tertiary: #b78846;
  --color-tertiary--darker: #9c743c;
  --color-tertiary--darkest: #805f31;
}