/* -------------------------------------------------------------------------- *\
*  _box-border.scss: This partial file contains all 'box-border' styles.
\* -------------------------------------------------------------------------- */

.box-border {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  padding: 5px;
  border: 2px solid var(--color-tertiary);
  background-color: rgba(#000, 0.5);
  transform: translate3d(-50%, -50%, 0);

  &::before,
  &::after {
    position: absolute;
    top: 5px;
    width: 14px;
    height: 14px;
    border: 2px solid var(--color-tertiary);
    color: var(--color-tertiary);
    content: '•';
    font-size: 14px;
    line-height: 12px;
    text-align: center;
  }

  &::before {
    left: 5px;
  }

  &::after {
    right: 5px;
  }

  .box-border-inner {
    position: relative;
    padding: $buffer--xs;
    border: 2px solid var(--color-tertiary);

    &::before,
    &::after {
      position: absolute;
      bottom: -2px;
      width: 14px;
      height: 14px;
      border: 2px solid var(--color-tertiary);
      color: var(--color-tertiary);
      content: '•';
      font-size: 14px;
      line-height: 12px;
      text-align: center;
    }

    &::before {
      left: -2px;
    }

    &::after {
      right: -2px;
    }
  }
}
