/* -------------------------------------------------------------------------- *\
*  _box-border.scss: This partial file contains all 'box-border' styles.
\* -------------------------------------------------------------------------- */

.box-border {
  position: relative;
  top: 50%;
  top: calc(50% + #{$buffer--xxl});
  left: 50%;
  width: 100%;
  height: auto;
  padding: $buffer--xs;
  border: calc(#{$buffer--xxs} / 2) solid var(--color-tertiary);
  background-color: rgba(#000, 0.5);
  transform: translate3d(-50%, -50%, 0);

  &::before,
  &::after {
    position: absolute;
    top: $buffer--xs;
    width: $buffer--s;
    height: $buffer--s;
    border: calc(#{$buffer--xxs} / 2) solid var(--color-tertiary);
    color: var(--color-tertiary);
    content: '•';
    font-size: $buffer--s;
    line-height: calc(#{$buffer--s} - #{$buffer--xxs});
    text-align: center;
  }

  &::before {
    left: $buffer--xs;
  }

  &::after {
    right: $buffer--xs;
  }

  .box-border-inner {
    position: relative;
    padding: $buffer--xs;
    border: calc(#{$buffer--xxs} / 2) solid var(--color-tertiary);

    &::before,
    &::after {
      position: absolute;
      bottom: calc(-#{$buffer--xxs} / 2);
      width: $buffer--s;
      height: $buffer--s;
      border: calc(#{$buffer--xxs} / 2) solid var(--color-tertiary);
      color: var(--color-tertiary);
      content: '•';
      font-size: $buffer--s;
      line-height: calc(#{$buffer--s} - #{$buffer--xxs});
      text-align: center;
    }

    &::before {
      left: calc(-#{$buffer--xxs} / 2);
    }

    &::after {
      right: calc(-#{$buffer--xxs} / 2);
    }
  }
}
