/* -------------------------------------------------------------------------- *\
*  _button.scss: This partial file contains all 'button' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

button {
  @include transition-general;
  @include dimensions(none, fit-content, auto);

  padding: $whitespace--xs;
  border: 0;
  background-color: var(--tertiary-color);
  border-radius: $border-radius--xs;
  box-shadow: $box-shadow--slide-in;
  color: var(--primary-color);
  font-size: $font-size--2;
  font-variant: small-caps;
  text-transform: lowercase;

  &:active {
    box-shadow: none;
    transform: translateY(4px);
  }

  i {
    margin: 0;
  }
}

// -  <<----------<< Specific >>---------->>

.btn--text {
  //...
  &:hover {
    color: var(--background-color);
  }
}

.btn--icon {
  margin: 0;

  .fa-heart {
    color: red;
  }
}
