/* -------------------------------------------------------------------------- *\
*  _button.scss: This partial file contains all 'button' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

button {
  @include transition-general;
  @include dimensions(none, fit-content, auto);
  // @include box-shadow(2);

  padding: $filler--xs;
  border: 0;
  background-color: var(--tertiary-color);
  border-radius: $border-radius--xs;
  color: var(--primary-color);
  font-size: $font-size--2;
  font-variant: small-caps;
  text-transform: lowercase;

  &:active {
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(4px);
  }

  i {
    margin: 0;
  }
}

// -  <<----------<< Specific >>---------->>

.btn--text {
  //...
  &:hover {
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: var(--background-color);
  }
}

.btn--icon {
  margin: 0;

  .fa-heart {
    color: red;
  }
}
