/* -------------------------------------------------------------------------- *\
*  _button.scss: This partial file contains all 'button' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

button {
}

// -  <<----------<< Specific >>---------->>

.button {
  zoom: 3;
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 15px;
  // # Successfully replaced ---> Begin
  text-shadow: 0 -2px 0 lightness(var(--color-secondary), 0.8), 0 1px 1px lightness(var(--color-secondary), 1.2);
  // # Successfully replaced ---> End
  box-sizing: border-box;
  font-size: 2em;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  font-weight: bold;
  // # Successfully replaced ---> Begin
  color: lightness(var(--color-secondary), 0.9);
  // # Successfully replaced ---> End
  // # Successfully replaced ---> Begin
  &:visited {
    color: lightness(var(--color-secondary), 0.9);
  }
  // # Successfully replaced ---> End
  height: $button--height + px;
  line-height: $button--height + px;
  padding: 0 (($button--height/2) + px);
  display: inline-block;
  width: auto;

  background: linear-gradient(
    to bottom,
    adjust-hsl(var(--color-secondary), 1, 1.35, 1.15) 0%,
    adjust-hsl(var(--color-secondary), 1, 1.15, 1.12) 26%,
    adjust-hsl(var(--color-secondary), 1, 1, 1) 100%
  );

  border-radius: 5px;

  // # Successfully replaced ---> Begin
  border-top: 1px solid lightness(var(--color-secondary), 1.22);
  border-bottom: 1px solid lightness(var(--color-secondary), 1.2);
  // # Successfully replaced ---> End

  top: 0;
  transition: all ($button-speed + s) $button--timing-function;
  position: relative;
}

// # Successfully replaced ---> Begin
.button:hover {
  background: linear-gradient(
    to bottom,
    adjust-hsl(var(--color-secondary), 1, 1.35, 1.22) 0%,
    adjust-hsl(var(--color-secondary), 1, 1.15, 1.19) 26%,
    adjust-hsl(var(--color-secondary), 1, 1, 1.07) 100%
  );
}
// # Successfully replaced ---> End


.button:active {
  top: $button--depth + px;
  // # Successfully replaced ---> Begin
  text-shadow: 0 -2px 0 lightness(var(--color-secondary), 1), 0 1px 1px lightness(var(--color-secondary), 1.2), 0 0 4px $color-white;
  color: lightness(var(--color-secondary), 1.45);
  // # Successfully replaced ---> End

  &:before {
    top: 0;
    // # Successfully replaced ---> Begin
    box-shadow: $box-shadow--button---active;
    // # Successfully replaced ---> End
  }
}


.button:before {
  // display: inline-block;
  display: inline-flex;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: ($button--depth) + px;
  border-radius: 5px;
  height: ($button--height) + px;

  // # Successfully replaced ---> Begin
  background: linear-gradient(
    to top,
    adjust-hsl(var(--color-secondary), 1, 1.15, 0.60) 0%,
    adjust-hsl(var(--color-secondary), 1, 1.10, 0.75) $button--depth + px
  );
  // # Successfully replaced ---> End

  transition: all (($button-speed * 1.3) + s) $button--timing-function;
  // # Successfully replaced ---> Begin
  box-shadow: $box-shadow--button---before;
  // # Successfully replaced ---> End
}
