/* -------------------------------------------------------------------------- *\
*  _card.scss: This partial file contains all 'card' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

.card {
  @include box-shadow(2);
  @include box-transition;

  overflow: hidden;

  /* Prevent background color leak outs */
  background-clip: padding-box;
  background-color: maroon;
  border-radius: $border-radius--s;
  // padding: $whitespace--xs;

  &:hover {
    @include box-shadow(5);
  }
}

// -  <<----------<< Specific >>---------->>
