/* -------------------------------------------------------------------------- *\
*  _card.scss: This partial file contains all 'card' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

.card {
  @include box-shadow(2);
  @include box-transition;
  // padding: $buffer--xs;

  overflow: hidden;
  min-width: calc(#{$dimension--xxs} - #{$buffer--l});
  max-width: calc((#{$dimension--xxs} / 3) + #{$dimension--xxs});
  height: 80vh;
  flex: 1 1 auto;
  // margin: $buffer--m;

  /* Prevent background color leak outs */
  background-clip: padding-box;
  border-radius: $border-radius--s;

  &:hover {
    @include box-shadow(5);
  }
}

// -  <<----------<< Specific >>---------->>
