/* -------------------------------------------------------------------------- *\
*  _card.scss: This partial file contains all 'card' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

.card {
  @include box-shadow(2);
  @include box-transition;

  overflow: hidden;
  // width: 100%;
  min-width: calc(#{$dimension--xxs} - (#{$dimension--xxs} / 10));
  // max-width: calc((#{$dimension--xxs} / 3) + #{$dimension--xxs});
  // height: 80vh;

  // width: 300px;
  aspect-ratio: auto 9 / 16;

  /* Prevent background color leak outs */
  background-clip: padding-box;
  border-radius: $border-radius--s;

  &:hover {
    @include box-shadow(5);
  }
}

// -  <<----------<< Specific >>---------->>
