/* -------------------------------------------------------------------------- *\
*  _icon.scss: This partial file contains all 'icon' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< Generic >>---------->>

svg {
  fill: $color--text;
}

// -  <<----------<< Specific >>---------->>

.icon {
  color: $color--text;
  fill: $color--text;
}

// .logo {
//   color: $color--text;
//   fill: $color--text;
// }
