/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MAIN LOGO >>-------------------->>
\* -------------------------------------------------------------------------- */

// -  <---------------| Main-Logo |--------------->
@mixin main-logo {
  .nuxt-logo {
    margin: auto;
    animation: 1s appear;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
  }
}
