/* -------------------------------------------------------------------------- *\
*  _home-webshop.scss: This partial file contains the styles of the 'home-webshop' page.
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  HEADER: main-header
\* -------------------------------------------------------------------------- */

.main-header {
  &__container {
    background-color: gainsboro;
  }
}

/* -------------------------------------------------------------------------- *\
-  NAV: main-nav
\* -------------------------------------------------------------------------- */

.main-nav {
  &__container {
    background-color: lightpink;
  }

  &__nav-logo {
    background-color: hotpink;
  }

  &__mobile-menu {
    background-color: deeppink;
  }

  &__mobile-menu-slice {
    background-color: palevioletred;
  }

  &__list {
    background-color: mediumvioletred;
  }

  &__item {
    background-color: lavender;
  }
}

/* -------------------------------------------------------------------------- *\
-  SECTION 1: hero
\* -------------------------------------------------------------------------- */

.hero {
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-image: url('/assets/media/images/marcel-teugels/favorites/kantrechten--05-upscaled.jpg');
  background-position: center center;
  background-size: cover;

  &__container {
    height: 100%;
    justify-content: center;
    animation: linear-gradient 15s ease infinite;
    background: $linear-gradient--combo;
    background-color: $background-color--photo-text;
    background-size: 400% 400%;
  }

  &__visual {
    max-width: fit-content;
    max-height: 40vh;
    margin: $whitespace--m 0;
    // background-color: lightsalmon;
    fill: var(--primary-color);
    filter: brightness(0.8) contrast(1.2);
  }

  &__subject {
    // background-color: indianred;
    color: var(--primary-color);
    filter: brightness(0.8) contrast(1.2);
  }

  &__title {
    color: var(--tertiary);
    filter: brightness(0.8) contrast(1.2);
    // background-color: salmon;
    font-size: $font-size--3;
  }
}

/* -------------------------------------------------------------------------- *\
-  SECTION 2: Hot Items
\* -------------------------------------------------------------------------- */

.hot-items {
  &__container {
  }

  &__title {
  }

  .hot-item {
    padding: $whitespace--xs;
    // background-color: plum;

    &__title {
      background-color: orchid;
    }

    &__container {
      background-color: violet;
    }

    &__title {
      background-color: fuchsia;
    }

    &__visual {
      background-color: magenta;
    }

    &__caption {
      background-color: mediumorchid;
    }

    &__caption-title {
      background-color: darkorchid;
    }

    &__caption-text {
      background-color: darkviolet;
    }

    &__caption-btn {
      background-color: blueviolet;
    }
  }
}

.hot-item {
  // ...
  &__container {
    position: relative;
    display: flex;
    width: 375px;
    height: 667px;
    align-items: center;
    justify-content: center;
    background-color: lavender;

    &:hover {
      .hot-item {
        &__visual {
          transform: scale(1.25);
        }

        &__caption {
          bottom: 0;
        }
      }
    }
  }

  &__title {
    position: absolute;
    top: 50px;
    left: 20px;
    padding: 0;
    margin: 0;
    background-color: thistle;
    color: white;
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
  }

  &__visual {
    height: 100%;
    transition: 0.25s;
  }

  &__caption {
    position: absolute;
    bottom: -33%;
    left: 0;
    width: 100%;
    padding: 30px;
    margin: 0;
    background-color: rgba(black, 0.85);
    box-shadow: 0 0 20px rgba(black, 0.4);
    color: white;
    line-height: 1;
    transition: 0.25s;
  }

  &__caption-title {
    padding: 0;
    margin: 0 0 20px;
  }

  &__caption-text {
    font-size: 14px;
    line-height: 1.75;
  }

  &__caption-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    border: none;
    margin: 10px 0 0;
    background-color: #1abc9c;
    border-radius: 5px;
    color: white;
    font-size: 14px;
  }
}

/* -------------------------------------------------------------------------- *\
-  Intermezzo
\* -------------------------------------------------------------------------- */

.intermezzo {
  height: 100vh;
  background-attachment: fixed;
  background-image: url('/assets/media/images/marcel-teugels/favorites/sculpture--07.jpg');
  background-position: center center;
  background-size: cover;

  &__container {
    background-color: $background-color--photo-text;
  }
}

/* -------------------------------------------------------------------------- *\
-  SECTION 3: About
\* -------------------------------------------------------------------------- */

.about {
  &__container {
    // background-color: cornsilk;
  }

  &__title {
    background-color: saddlebrown;
  }

  &__container--visual {
    background-color: bisque;
  }

  &__image {
    background-color: navajowhite;
  }

  &__container--text {
    background-color: sienna;
  }

  &__title--text {
    background-color: burlywood;
  }

  &__sub-title {
    background-color: brown;
  }

  &__paragraph {
    background-color: rosybrown;
  }
}

.about-visual {
  &__container {
    background-color: sandybrown;
  }

  &__image {
    background-color: goldenrod;
  }
}

.about-text {
  &__container {
    background-color: darkgoldenrod;
  }

  &__title {
    background-color: peru;
  }

  &__sub-title {
    background-color: chocolate;
  }

  &__paragraph {
    background-color: olive;
  }
}
