/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< BOX BORDER >>-------------------->>
\* -------------------------------------------------------------------------- */

.box-outer {
  @include box-dimensions($width: 100%, $height: 100%);
  @include box-shadow(2);

  position: relative;
  top: 50%;
  left: 50%;
  padding: $buffer--xs;
  border: $buffer--xxs solid var(--color-tertiary);
  transform: translate3d(-50%, -50%, 0);

  &::before,
  &::after {
    position: absolute;
    top: $buffer--xs;
    width: $buffer--m;
    height: $buffer--m;
    border: $buffer--xxs solid var(--color-tertiary);
    color: var(--color-tertiary);
    content: '•';
    font-size: $buffer--m;
    line-height: $buffer--s + $buffer--xxxs;
    text-align: center;
  }
  &::before {
    left: $buffer--xs;
  }
  &::after {
    right: $buffer--xs;
  }

  &:hover {
    @include box-shadow(5);

    transform: translate3d(-50%, -50.5%, 0);
  }
}

.box-inner {
  position: relative;
  height: 100%;
  padding: $buffer--m;
  border: $buffer--xxs solid var(--color-tertiary);

  &::before,
  &::after {
    position: absolute;
    bottom: -$buffer--xxs;
    width: $buffer--m;
    height: $buffer--m;
    border: $buffer--xxs solid var(--color-tertiary);
    color: var(--color-tertiary);
    content: '•';
    font-size: $buffer--m;
    line-height: $buffer--s + $buffer--xxxs;
    text-align: center;
  }
  &::before {
    left: -$buffer--xxs;
  }
  &::after {
    right: -$buffer--xxs;
  }
}
