/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< CARD >>-------------------->>
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>
@mixin card {
  @include box-shadow(2);

  overflow: hidden;
  // max-width: $large-dimension--xxs + $large-dimension--xxxs;
  aspect-ratio: $card--aspect-ratio;

  /* Prevent background color leak outs */
  background-clip: padding-box;
  border-radius: $small-dimension--m;

  &:hover {
    @include box-shadow(5);
  }
}

// -  <<----------<< Specific >>---------->>
