/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< ICON >>-------------------->>
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>
.fas,
[data-prefix='fas'] {
  @include box-dimensions(fas, $font-size--text);

  display: inline-flex;
  overflow: visible;
  align-self: center;
}

.fab,
[data-prefix='fab'] {
  @include box-dimensions(fab, $font-size--h3);

  display: inline-flex;
  overflow: visible;
  align-self: center;

  &:hover {
    color: var(--color-secondary);
  }
}

// -  <<----------<< Specific >>---------->>
.fa-heart {
  &:hover {
    @include box-transition;

    color: #f00;
  }
}

.fa-facebook {
  &:hover {
    @include box-transition;

    color: #1877f2;
  }
}

.fa-twitter {
  &:hover {
    @include box-transition;

    color: #1da1f2;
  }
}

.fa-instagram {
  &:hover {
    @include box-transition;

    color: #e4405f;
  }
}

.fa-pinterest {
  &:hover {
    @include box-transition;

    color: #bd081c;
  }
}

.fa-youtube {
  &:hover {
    @include box-transition;

    color: #f00;
  }
}

.fa-shopping-basket {
  &:hover {
    @include box-transition;

    color: #000;
  }
}
