/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< ICON >>-------------------->>
\* -------------------------------------------------------------------------- */

// -  <<----------<< Common >>---------->>

[data-prefix='fas'],
[data-prefix='fab'] {
  display: inline-flex;
  overflow: visible;
  align-self: center;
}

// -  <<----------<< Solid >>---------->>
[data-prefix='fas'] {
  @include box-dimensions(fas, $font-size--text);
}

.icon {
  color: var(--color-tertiary);
}

.icon--btn {
  color: var(--color-primary);

  &:hover {
    color: var(--color-text);
  }
}

// -  <<----------<< Brands >>---------->>
[data-prefix='fab'] {
  @include box-dimensions(fab, $font-size--h3);

  path,
  circle {
    fill: var(--color-secondary--light);
  }

  &:hover {
    transform: translate3d(0, -$buffer--xs, 0);
    path,
    circle {
      fill: var(--color-secondary--lightest);
      filter: drop-shadow(0 0 1rem var(--color-secondary--lightest));
    }
  }

  &::before {
    content: normal;
  }

  &::after {
    content: normal;
  }
}

// .fa-facebook {
//   &:hover {
//     path {
//       color: #1877f2;
//       // filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(var(--color-text), 0.5));
//       // filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(240, 4, 4, 1));
//     }
//   }
// }

// .fa-twitter {
//   &:hover {
//     path {
//       color: #1da1f2;
//       // filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(var(--color-text), 0.5));
//     }
//   }
// }

// .fa-instagram {
//   &:hover {
//     path {
//       color: #e4405f;
//       // filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(var(--color-text), 0.5));
//     }
//   }
// }

// .fa-pinterest {
//   &:hover {
//     path {
//       color: #bd081c;
//       // filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(var(--color-text), 0.5));
//     }
//   }
// }

// .fa-youtube {
//   &:hover {
//     path {
//       color: #f00;
//       // filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(var(--color-text), 0.5));
//     }
//   }
// }
