/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< ICON >>-------------------->>
\* -------------------------------------------------------------------------- */

// -  <<----------<< Solid >>---------->>
.fas,
[data-prefix='fas'] {
  @include box-dimensions(fas, $font-size--text);

  display: inline-flex;
  overflow: visible;
  align-self: center;
}

.item-icon {
  color: var(--color-tertiary);
}

.item-icon--btn {
  color: var(--color-primary);

  &:hover {
    color: var(--color-text);
  }
}

.fa-shopping-basket {
  &:hover {
    @include box-transition;

    color: #000;
  }
}

// -  <<----------<< Brands >>---------->>

// .fab,
[data-prefix='fab'] {
  @include box-dimensions(fab, $font-size--h3);

  display: inline-flex;
  overflow: visible;
  align-self: center;
  padding: $buffer--s;

  &:hover {
    color: var(--color-secondary);
  }
}

.fa-heart {
  &:hover {
    @include box-transition;

    color: #f00;
  }
}

.fa-facebook {
  &:hover {
    transform: translate3d(0, -$buffer--xs, 0);
    path {
      @include box-transition;

      color: #1877f2;
      filter: drop-shadow(30px 10px 4px var(--color-secondary));
      transform: translate3d(0, -$buffer--xs, 0);
    }
  }
}

.fa-twitter {
  &:hover {
    transform: translate3d(0, -$buffer--xs, 0);
    path {
      @include box-transition;

      color: #1da1f2;
      filter: drop-shadow(30px 10px 4px var(--color-secondary));
      transform: translate3d(0, -$buffer--xs, 0);
    }
  }
}

.fa-instagram {
  &:hover {
    transform: translate3d(0, -$buffer--xs, 0);
    path {
      @include box-transition;

      color: #e4405f;
      filter: drop-shadow(30px 10px 4px var(--color-secondary));
      transform: translate3d(0, -$buffer--xs, 0);
    }
  }
}

.fa-pinterest {
  &:hover {
    transform: translate3d(0, -$buffer--xs, 0);
    path {
      @include box-transition;

      color: #bd081c;
      filter: drop-shadow(30px 10px 4px var(--color-secondary));
      transform: translate3d(0, -$buffer--xs, 0);
    }
  }
}

.fa-youtube {
  &:hover {
    transform: translate3d(0, -$buffer--xs, 0);
    path {
      @include box-transition;

      color: #f00;
      filter: drop-shadow(30px 10px 4px var(--color-secondary));
      transform: translate3d(0, -$buffer--xs, 0);
    }
  }
}
