/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MAIN HEADER >>-------------------->>
\* -------------------------------------------------------------------------- */

// -  <---------------| Main-Header |--------------->
@mixin main-header {
  .c-header {
    background-color: $dark-bg;

    &__container {
      @include block-container;
    }
  }

  .c-header-nav {
    display: flex;
    justify-content: flex-end;

    &__item {
      // padding: $s-site-padding $s-site-padding;
      color: $light-bg;
      text-decoration: none;
    }

    &__item--active {
      background-color: $light-bg;
      color: $dark-bg;
    }

    &__item--active:hover {
      background-color: $light-bg;
      color: $dark-bg;
    }
  }
}
