/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MAIN HEADER >>-------------------->>
\* -------------------------------------------------------------------------- */

// -  <---------------| Main-Header |--------------->
@mixin main-header {
  .c-header {
    position: fixed;
    z-index: 99;
    padding-top: 0;
    padding-bottom: 0;
    filter: drop-shadow(
      0 $small-dimension--s $small-dimension--s
        $bg-color--transparant-black---level-3
    );
    transform: translate3d(0, 0, 0);
    transition: $transition--transform;

    &--hidden {
      transform: translate3d(0, -100%, 0);
    }
  }

  .c-header-nav {
    @include flex-container(nowrap, column);

    padding: 0;

    @include breakpoint(m) {
      @include flex-container(nowrap, row);

      overflow: hidden;
      border-radius: $small-dimension--l;
    }

    &__list {
      @include breakpoint(m) {
        @include flex-container(nowrap, row, space-between);
      }

      > li:first-child > a {
        background-color: var(--color-text);
        border-radius: $small-dimension--l;
      }
    }
    &__item {
      @include breakpoint(xxs) {
        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }

      @include breakpoint(m) {
        display: inline-flex;
        width: auto;

        &:first-child {
          padding-top: $buffer--xs;
        }

        &:last-child {
          padding-bottom: $buffer--xs;
        }
      }
    }

    &__link {
      @include color-link(background, 'tertiary--lighter');

      padding: $buffer--xs $buffer--s;

      @include breakpoint(l) {
        padding-right: $buffer--m;
        padding-left: $buffer--m;
      }

      @include breakpoint(xl) {
        padding-right: $buffer--l;
        padding-left: $buffer--l;
      }
    }

    &__link--active {
      @include color-link(primary, 'text--darkest', btn);
    }
  }
}
