/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MAIN HEADER >>-------------------->>
\* -------------------------------------------------------------------------- */

// -  <---------------| Main-Header |--------------->
@mixin main-header {
  .c-header {
    background-color: transparent;

    &__container {
      overflow: hidden;
      border-radius: $small-dimension--s;
      @include breakpoint(xxs) {
        @include block-container;
      }

      @include breakpoint(s) {
        @include flex-container(nowrap, column, space-evenly, stretch);
      }
    }
  }

  .c-header-nav {
    background-color: var(--color-primary);

    @include breakpoint(s) {
      @include flex-container(nowrap, row, space-evenly, stretch);

      overflow: hidden;
      border-radius: $small-dimension--m;
    }

    &__item {
      color: var(--color-background);
    }

    &__item--icon {
      color: var(--color-background);
    }

    &__item--active {
      overflow: hidden;
      background-color: var(--color-tertiary);
      border-radius: $small-dimension--s;
      color: var(--color-primary);
    }

    &__item--active path {
      color: var(--color-primary);
    }

    &__item--active:hover path {
      color: var(--color-text);
    }

    &__item--active::after {
      background: var(--color-text);
    }

    &__item--active:hover {
      background-color: var(--color-tertiary);
      color: var(--color-text);
    }

    &__item--active:hover::before {
      background: var(--color-text);
    }
  }
}
