// -----------------------------------------------------------------------------
// +  <<--------------------<< SCROLLBARS >>-------------------->>
// -----------------------------------------------------------------------------

// -  <---------------| Scrollbar-Style |--------------->
@mixin scrollbar-style($width, $color-name, $height) {
  &::-webkit-scrollbar {
    width: $width;
    height: 25vh;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-#{$color-name}--lightest);
    border-radius: $small-dimension--s;
  }

  &::-webkit-scrollbar-thumb {
    height: $height;
    background: var(--color-#{$color-name}--dark);
    border-radius: $small-dimension--s;

    &:hover {
      background: var(--color-#{$color-name}--darker);
      transition: $transition--color;
    }
  }
}

// -  <---------------| Scrollbar-Behaviour |--------------->
@mixin scrollbar-function($behaviour, $type) {
  scroll-snap-type: $type;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: $behaviour;
  }
}
