/* -------------------------------------------------------------------------- *\
-  SECTION 3: About
\* -------------------------------------------------------------------------- */

.about {
  background: radial-gradient(#003, #000);

  &__container {
    @include flex-container(nowrap, column, center, center);

    @include breakpoint(s) {
      @include flex-container(wrap, row, space-evenly, stretch);
    }
  }

  &__title {
    // ...
  }

  &__container--visual {
    padding: 0 $buffer--s $buffer--xxl $buffer--s;
  }

  &__image {
    // ...
  }

  &__container--text {
    min-width: calc(#{$large-dimension--xxs} - #{$buffer--l});
    max-width: calc(#{$card--width} + #{$buffer--m});
    padding: 0;

    @include breakpoint(m) {
      min-width: calc(#{$card--width} + (#{$card--width} / 2));
    }

    @include breakpoint(l) {
      min-width: calc(#{$card--width} * 2);
    }
  }

  &__outer-border {
    top: calc((#{$card--height} / 2) + #{$buffer--s});
    margin-bottom: $buffer--xxl;
    // ...

    @include breakpoint(xs) {
      top: calc((#{$card--height} / 2) + #{$buffer--m} + #{$buffer--m});
    }

    @include breakpoint(s) {
      top: calc((#{$card--height} / 2) - #{$buffer--l} - #{$buffer--s});
      margin-bottom: 0;
    }

    @include breakpoint(m) {
      // ...
    }
  }

  &__inner-border {
    @include breakpoint(s) {
      height: calc(#{$card--height} - #{$buffer--m} + #{$buffer--m});
    }
  }

  &__text-title {
    padding: $buffer--s 0;
    font-size: $font-size--4;
    font-variant: small-caps;

    @include breakpoint(s) {
      height: 10%;
    }
  }

  &__sub-title {
    padding: $buffer--s 0;
    font-size: $font-size--2;

    @include breakpoint(s) {
      height: 20%;
    }

    @include breakpoint(m) {
      height: 15%;
    }
  }

  &__hr {
    height: 1%;
    border: 0;
    margin: 2% auto;
    background-image:
      linear-gradient(to right,
      hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0),
      hsla(var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0.75),
      hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0));
  }

  &__paragraph {
    overflow: auto;
    height: calc(#{$card--height} - (#{$buffer--m} * 10));
    color: var(--color-background);
    text-align: justify;

    @include breakpoint(s) {
      height: 62.5%;
    }

    @include breakpoint(m) {
      height: 67.5%;
    }
  }
}
