/* -------------------------------------------------------------------------- *\
-  SECTION 1: hero
\* -------------------------------------------------------------------------- */

.hero {
  position: relative;
  padding: 0;
  background-attachment: fixed;
  background-image: url('/assets/media/images/marcel-teugels/favorites/kantrechten--05-upscaled.jpg');
  background-position: center center;
  background-size: cover;

  &__container {
    height: 100vh;
    justify-content: center;
    background-color: $bg-color--transparant-black---level-2;
    place-content: center;
    place-items: center;
  }

  &__visual {
    max-height: 40vh;
    padding-top: $buffer--l;
    fill: var(--color-tertiary);
    filter: drop-shadow(0 0 0.1em var(--color-text));
  }

  &__subject {
    color: var(--color-background);
    filter: drop-shadow(0 0 0.1em var(--color-text));
  }

  &__title {
    padding-top: 0;
    color: var(--color-secondary);
    filter: drop-shadow(0 0 0.1em var(--color-text));
    font-family: 'Oswald', sans-serif;
    font-size: $font-size--h2;
    font-weight: 600;
  }
}
