// -----------------------------------------------------------------------------
// +  Containers
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// *  Universal Containers
// -----------------------------------------------------------------------------

@mixin container(
  $container-type: wrapped-block,
  $wrap-type: nowrap,
  $direction: column,
  $justify: center,
  $align: center
) {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  // #  wrapped-Block Container
  @if $container-type == wrapped-block {
    display: block;
    padding: 0;
  }

  // #  wrapped-Flex Container
  @if $container-type == wrapped-flex {
    display: flex;
    padding: 0;
  }

  // #  wrapped-Grid Container
  @if $container-type == wrapped-grid {
    display: grid;
    padding: 0;
  }

  // #  padded-Block Container
  @if $container-type == padded-block {
    display: block;
    padding: $whitespace--xs;
  }

  // #  padded-Flex Container
  @if $container-type == padded-flex {
    display: flex;
    padding: $whitespace--xs;
  }

  // #  padded-Grid Container
  @if $container-type == padded-grid {
    display: grid;
    padding: $whitespace--xs;
  }

  // -  <---------------------------------------------------------------------->

  // #  wrapped-Flex Container
  @if $container-type == wrapped-flex {
    flex-direction: $direction;
    flex-wrap: $wrap-type;
    justify-content: $justify;

    // #  wrapped-Flex Container Nowrap
    @if $wrap-type == nowrap {
      align-items: $align;
    }
    // #  wrapped-Flex Container Wrap
    @else if $wrap-type == wrap {
      align-content: $align;
    }
    // #  Invalid arguments!
    @else {
      @error 'Invalid SCSS argument detected!';
    }
    //...
  }

  // #  padded-Flex Container
  @if $container-type == padded-flex {
    flex-direction: $direction;
    flex-wrap: $wrap-type;
    justify-content: $justify;

    // #  padded-Flex Container Nowrap
    @if $wrap-type == nowrap {
      align-items: $align;
    }
    // #  padded-Flex Container Wrap
    @else if $wrap-type == wrap {
      align-content: $align;
    }
    // #  Invalid arguments!
    @else {
      @error 'Invalid SCSS argument detected!';
    }
    //...
  }
}

// -----------------------------------------------------------------------------
// *  Specific Containers
// -----------------------------------------------------------------------------

// -  <<----------<< Block-Box>>---------->>

@mixin dimensions($type: none, $width: 100%, $height: auto) {
  width: $width;
  height: $height;

  // #  Regular Fontawesome Icons
  @if $type == fas {
    margin: 0 ($width / 2) 0 0;
    font-size: $width;
  }
  // #  Brand Fontawesome Icons
  @else if $type == fab {
    margin: 0 ($width / 2) 0 0;
    font-size: $width;
  }
}

// -  <<----------<< Flex-Box >>---------->>

// #  Block-Flex-Container
@mixin block-flex-container($direction, $justify, $align, $wrap-type) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap-type;
  justify-content: $justify;

  // #  Block-Flex-Container Nowrap
  @if $wrap-type == nowrap {
    align-items: $align;
  }
  // #  Block-Flex-Container Wrap
  @else if $wrap-type == wrap {
    align-content: $align;
  }
  // #  Invalid arguments!
  @else {
    @error 'Invalid SCSS argument detected!';
  }
}

// #  Inline-Flex-Container ---> buttons, navigation, vertical lists
@mixin inline-flex-container($wrap-type, $direction, $justify, $align) {
  display: inline-flex;
  flex-direction: $direction;
  flex-wrap: $wrap-type;
  justify-content: $justify;

  // #  Inline-Flex-Container Nowrap
  @if $wrap-type == nowrap {
    align-items: $align;
  }
  // #  Inline-Flex-Container Wrap
  @else if $wrap-type == wrap {
    align-content: $align;
  }
  // #  Invalid arguments!
  @else {
    @error 'Invalid SCSS argument detected!';
  }
}

// #  Flex-Items ---> Children
@mixin flex-items($basis: $dimension--xxs, $grow: 1, $shrink: 1) {
  flex-basis: $basis;
  flex-grow: $grow;
  flex-shrink: $shrink;
}

// -  <<----------<< Grid-Box >>---------->>

// #  Grid-Container
@mixin grid-container() {
  display: grid;
  // ...
}
