// -----------------------------------------------------------------------------
// +  Containers
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// *  Parents
// -----------------------------------------------------------------------------

// -  <<----------<< Block-Box>>---------->>

@mixin box-dimensions($type: none, $width: 100%, $height: auto) {
  width: $width;
  height: $height;

  // #  Regular Fontawesome Icons
  @if $type == fas {
    margin: 0;
    margin-right: 0.5rem;
    font-size: $width;
  }
  // #  Brand Fontawesome Icons
  @else if $type == fab {
    margin: 0;
    font-size: $width;
  }

  // #  Button Fontawesome Icons
  @else if $type == btn {
    margin: 0;
    font-size: $width;
  }
}

// -  <<----------<< Flex-Box >>---------->>

// #  flex-container
@mixin flex-container(
  $wrap: nowrap,
  $direction: column,
  $justify: space-evenly,
  $align: stretch
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  place-content: $justify;
  place-items: $align;
}

// #  Inline-Flex-Container ---> buttons, navigation, vertical lists
@mixin inline-flex-container(
  $wrap: nowrap,
  $direction: row,
  $justify: space-evenly,
  $align: stretch
) {
  display: inline-flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  place-content: $justify;
  place-items: $align;
}

// -----------------------------------------------------------------------------
// *  Children
// -----------------------------------------------------------------------------

// #  Flex-Items ---> Children
@mixin flex-items($grow: 1, $shrink: 1, $basis: auto, $self: center) {
  flex-basis: $basis;
  flex-grow: $grow;
  flex-shrink: $shrink;
  place-self: $self;
}
