// -----------------------------------------------------------------------------
// +  <<--------------------<< SCROLLBARS >>-------------------->>
// -----------------------------------------------------------------------------

// -  <---------------| Scrollbar-Style |--------------->
@mixin scrollbar-style($size, $color) {
  // For Internet Explorer
  scrollbar-face-color: $color;
  scrollbar-track-color: lightness($color, 0.5);

  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-track {
    background: lightness($color, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: $small-dimension--s;

    &:hover {
      background: lightness($color, 0.75);
    }
  }
}

// -  <---------------| Scrollbar-Behaviour |--------------->
@mixin scrollbar-function($behaviour, $type) {
  scroll-snap-type: $type;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: $behaviour;
  }
}
