// -----------------------------------------------------------------------------
// +  <<--------------------<< TRANSITIONS >>-------------------->>
// -----------------------------------------------------------------------------

// *  <<--------------------<< GENERIC >>-------------------->>

// -  <---------------| General-Transition |--------------->
@mixin general-transition(
  $property: all,
  $duration: 0.35s,
  $timing-function: ease,
  $delay: 0s
) {
  transition: $property $duration $timing-function $delay;
}

// *  <<--------------------<< SPECIFIC >>-------------------->>

// -  <---------------| Header-Transition--Slidedown |--------------->
@mixin header-transition--slidedown {
  transform: translateY(0);
  transition: background 0.3s,
    -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
    background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
    background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  will-change: transform;
}

// -  <---------------| Box-Transition |--------------->
@mixin box-transition {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

// -  <---------------| Click-Transition--Small |--------------->
@mixin click-transition--small {
  cursor: pointer;
  transition: background-color 0.1s linear, border-color 0.1s linear,
    color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
}


