// -----------------------------------------------------------------------------
// +  <<--------------------<< UTILITIES >>-------------------->>
// -----------------------------------------------------------------------------

@mixin full-width {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin-right: -50vw;
  margin-left: -50vw;
}

@mixin reset {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

@mixin column($width) {
  @if unit($width) != '%' {
    $width: $width * 100%;
  }
  flex-basis: #{$width};
  max-width: #{$width};
}

@mixin auto-sized-column {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 100%;
}
