// -----------------------------------------------------------------------------
// +  <<--------------------<< WIREFRAMES >>-------------------->>
// -----------------------------------------------------------------------------

// *  <<--------------------<< MANUAL WIREFRAME >>-------------------->>
@mixin manual-wireframe($wireframe--manual) {
  @if $wireframe--manual {
    [data-wf] {
      position: relative;
      z-index: 1;
      outline: $small-dimension--xs solid var(--wireframe--wire);
    }

    [data-wf]::before {
      position: absolute;
      z-index: 99;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
          to top right,
          transparent calc(50% - 1px),
          var(--wireframe--wire) calc(50% - 1px),
          var(--wireframe--wire) calc(50% + 1px),
          transparent calc(50% + 1px)
        ),
        linear-gradient(
          to bottom right,
          transparent calc(50% - 1px),
          var(--wireframe--wire) calc(50% - 1px),
          var(--wireframe--wire) calc(50% + 1px),
          transparent calc(50% + 1px)
        ),
        var(--wireframe--bg-color);
      color: var(--wireframe--wire);
      content: attr(data-wf);
      font: bold 2em Jubilat, Georgia, serif;
      text-shadow: 0 0 0.25em var(--wireframe--bg-color),
        0 0 0.25em var(--wireframe--bg-color),
        0 0 0.25em var(--wireframe--bg-color),
        0 0 0.25em var(--wireframe--bg-color),
        0 0 0.25em var(--wireframe--bg-color);
    }
  }
}

// *  <<--------------------<< AUTOMATIC WIREFRAME >>-------------------->>
@mixin automatic-wireframe($wireframe--automatic) {
  @if $wireframe--automatic {
    // ! REFERENCE: <https://developer.mozilla.org/en-US/docs/Web/HTML/Element#href>

    // -  <---------------| Sectioning |--------------->
    // #  <-----| Main |----->
    nav,
    article,
    section,
    aside {
      outline: solid orangered;
    }

    // #  <-----| Sub |----->
    header,
    footer {
      outline: solid indianred;
    }

    // #  <-----| Non-Semantic |----->
    div {
      outline: solid red;
    }

    // -  <---------------| Heading |--------------->
    // #  <-----| Heading |----->
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      outline: solid tomato;
    }

    // -  <---------------| Block-Text |--------------->
    // #  <-----| Description |----->
    dl,
    dt,
    dd {
      outline: solid deepskyblue;
    }

    // #  <-----| Figure |----->
    figure,
    figcaption {
      outline: solid dodgerblue;
    }

    // #  <-----| Lists |----->
    ol,
    ul,
    li {
      outline: solid steelblue;
    }

    // #  <-----| Other |----->
    address,
    blockquote,
    hr,
    p,
    pre {
      outline: solid blue;
    }

    // -  <---------------| Inline-Text |--------------->
    // #  <-----| Visual |----->
    b,
    code,
    kbd,
    mark,
    samp,
    span,
    strong,
    var {
      outline: solid lime;
    }

    // #  <-----| Functional |----->
    a,
    abbr,
    bdi,
    bdo,
    br,
    cite,
    data,
    dfn,
    q,
    time,
    wbr {
      outline: solid springgreen;
    }

    // -  <---------------| Multimedia |--------------->
    // #  <-----| Regular |----->
    area,
    audio,
    img,
    map,
    track,
    video {
      outline: solid yellow;
    }

    // #  <-----| Complex |----->
    embed,
    iframe,
    object,
    param,
    picture,
    source {
      outline: solid khaki;
    }

    // #  <-----| Special |----->
    svg,
    math {
      outline: solid gold;
    }

    // -  <---------------| Table |--------------->
    // #  <-----| Parents |----->
    table,
    thead,
    tbody,
    tfoot,
    colgroup,
    tr {
      outline: solid darkorchid;
    }

    // #  <-----| Children |----->
    caption,
    col,
    th,
    td {
      outline: solid slateblue;
    }

    // -  <---------------| Forms |--------------->
    // #  <-----| Parents |----->
    form,
    datalist,
    fieldset,
    optgroup,
    select {
      outline: solid teal;
    }

    // #  <-----| Children |----->
    button,
    input,
    label,
    legend,
    meter,
    option,
    output,
    progress,
    textarea {
      outline: solid turquoise;
    }

    // -  <---------------| Intertactive |--------------->
    // #  <-----| Disclosure Widget |----->
    details,
    summary {
      outline: solid deeppink;
    }

    // #  <-----| Other |----->
    dialog,
    menu {
      outline: solid hotpink;
    }
  }
}
