/* -------------------------------------------------------------------------- *\
*  _box-border.scss: This partial file contains all 'box-border' styles.
\* -------------------------------------------------------------------------- */

.box-border {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: $buffer--s;
  border: $buffer--xs solid var(--color-tertiary);
  background-color: rgba(#000, 0.5);
  transform: translate3d(-50%, -50%, 0);

  &::before,
  &::after {
    position: absolute;
    top: $buffer--s;
    width: $buffer--m;
    height: $buffer--m;
    border: $buffer--xs solid var(--color-tertiary);
    color: var(--color-tertiary);
    content: '•';
    font-size: $buffer--m;
    line-height: calc(#{$buffer--m} - #{$buffer--xs});
    text-align: center;
  }

  &::before {
    left: $buffer--s;
  }

  &::after {
    right: $buffer--s;
  }
}

.box-border-inner {
  position: relative;
  padding: $buffer--s;
  border: $buffer--xs solid var(--color-tertiary);

  &::before,
  &::after {
    position: absolute;
    bottom: $buffer--xs;
    width: $buffer--m;
    height: $buffer--m;
    border: $buffer--xs solid var(--color-tertiary);
    color: var(--color-tertiary);
    content: '•';
    font-size: $buffer--m;
    line-height: calc(#{$buffer--m} - #{$buffer--xs});
    text-align: center;
  }

  &::before {
    left: $buffer--xxs;
  }

  &::after {
    right: $buffer--xxs;
  }
}
