/* -------------------------------------------------------------------------- *\
*  _scrollbar.scss: This partial file contains all 'scrollbar' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

// ...

// -  <<----------<< Specific >>---------->>

.simplebar-scrollbar::before {
  position: absolute;
  right: $buffer--xs;
  left: $buffer--xs;
  background: var(--color-tertiary);
  border-radius: $border-radius--s;
  content: '';
  opacity: 0;
  @include general-transition;
}
