/* -------------------------------------------------------------------------- *\
*  _scrollbar.scss: This partial file contains all 'scrollbar' styles.
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

// ...

// -  <<----------<< Specific >>---------->>

.simplebar-scrollbar::before {
  @include general-transition;

  position: absolute;
  right: $buffer--xs;
  left: $buffer--xs;
  background: var(--color-tertiary);
  border-radius: $small-dimension--s;
  content: '';
  opacity: 0;
}
