html { scroll-behavior: smooth; }
#product-hunt { margin-top: 1rem; }
#link-snippet-headline { margin: 1rem 2.5rem 1rem 0; }

#copy-button {
  position: relative;
  overflow: visible;
  margin-right: 2px;
}

#copy-button-feedback {
  position: absolute;
  left: -2rem;
  display: inline-block;
  transform: scale(1.3);
}

#link-snippet-container {
  display: grid;
  display: grid;
  overflow: hidden;
  grid-columns: 1fr;
}

#link-snippet-container > pre {
  overflow: auto;
  grid-column: 1;
  grid-row: 1;
  transition: transform 0.22s cubic-bezier(0.175, 0.885, 0.32, 1) 0.22s;
}

#link-snippet-container > pre[hidden] {
  display: block;
  transform: scale(0);
  transition: transform 0.22s cubic-bezier(0.175, 0.885, 0.32, 1), visibility 0ms 0.22s;
  visibility: hidden;
}
#theme-form > label:not(:last-of-type) { margin-right: 1rem; }
#version-info th { width: 35%; }
body > footer { text-align: right; }

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
