/* -------------------------------------------------------------------------- *\
*  _toggle.scss: This partial file contains all 'toggle' styles.
\* -------------------------------------------------------------------------- */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 8px 16px 0 0;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  content: '';
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
