/* -------------------------------------------------------------------------- *\
-  INTERMEZZO
\* -------------------------------------------------------------------------- */

.intermezzo {
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  &__container {
    height: 100vh;
    background-color: $bg-color--transparant-black---level-2;
  }
}

.intermezzo--1 {
  background-image: url('/assets/media/images/marcel-teugels/favorites/sculpture--07.jpg');
}

.intermezzo--2 {
  background-image: url('/assets/media/images/marcel-teugels/favorites/construction-work--05.jpg');
}
