/* -------------------------------------------------------------------------- *\
-  SECTION 1: hero
\* -------------------------------------------------------------------------- */

.hero {
  position: relative;
  background-attachment: fixed;
  background-image: url('/assets/media/images/marcel-teugels/favorites/kantrechten--05-upscaled.jpg');
  background-position: center center;
  background-size: cover;

  &__container {
    height: 100vh;
    justify-content: center;
    // animation: linear-gradient 15s ease infinite;
    // background-color: $bg-color--transparant-gray---level-2;
    // background-image: $linear-gradient--combo;
    // background-size: 400% 400%;
    // filter: contrast(50%);

    background-color: $bg-color--transparant-black---level-2;
    place-content: center;
    place-items: center;
  }

  &__visual {
    max-height: 40vh;
    padding-top: $buffer--l;
    fill: var(--color-tertiary);
    filter: drop-shadow(0 0 0.1em var(--color-foreground));
  }

  &__subject {
    color: var(--color-background);
    filter: drop-shadow(0 0 0.1em var(--color-foreground));
  }

  &__title {
    color: var(--color-secondary);
    filter: drop-shadow(0 0 0.1em var(--color-foreground));
    font-family: 'Oswald', sans-serif;
    font-size: $font-size--4;
    font-weight: 600;
    padding-top: 0;
  }
}
