/* -------------------------------------------------------------------------- *\
-  SECTION 3: About
\* -------------------------------------------------------------------------- */

.about {
  background: radial-gradient(#003, #000);

  &__container {
    // @include block-flex-container(nowrap, column, center, center);
    @include block-flex-container(wrap, row, space-evenly, stretch);

    // background-color: cornsilk;
    // background: radial-gradient(#003, #000);
  }

  &__title {
    // padding: $buffer--m;
    // background-color: saddlebrown;
  }

  &__container--visual {
    flex: 1 1 50%;
    // margin: $buffer--m;
  }

  &__image {
    // height: 100%;
    background-color: navajowhite;
  }

  &__container--text {
    width: 100%;
    min-width: calc(#{$dimension--xxs} - #{$buffer--l});
    max-width: calc((#{$dimension--xxs} / 3) + #{$dimension--xxs});
    height: 80vh;
    flex: 1 1 50%;
    // margin: $buffer--m;
  }

  &__title--text {
    padding: $buffer--xs;
  }

  &__sub-title {
    padding: $buffer--xs;
    font-size: $font-size--2;
  }

  &__paragraph {
    // overflow: auto;
    color: var(--color-background);
  }
}
