/* -------------------------------------------------------------------------- *\
-  SECTION 2: Hot Items
\* -------------------------------------------------------------------------- */

.hot-items {
  &__container {
    @include dimensions;
    @include block-flex-container(wrap, row, space-evenly, stretch);
  }

  &__title {
    // padding: $buffer--l 0 $buffer--xs 0;
  }
}

.hot-item {
  &__container {
    @include flex-items(1, 1, auto);

    position: relative;
    // margin: $buffer--m;
  }

  &__title {
    @include transition-general;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    padding: $buffer--s;
    font-variant: normal;
    font-weight: $font-weight--subject;
  }

  &__visual {
    @include transition-general;

    height: 100%;
    filter: $filter--dark;
  }

  &__caption {
    @include transition-general;
    @include dimensions;

    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0%;
    bottom: -29%;
    left: 0;
    padding: $buffer--s;
    background-color: $bg-color--transparant-black---level-3;
    box-shadow: $box-shadow--caption---slide-in;
  }

  &__caption-title {
    padding: 0;
    color: var(--color-background);
    font-variant: small-caps;
    font-weight: $font-weight--subject;
    text-transform: lowercase;
  }

  &__caption-text {
    overflow: auto;
    height: calc(#{$dimension--xxs} / 3);
    margin: $buffer--s 0;
    color: var(--color-background);
  }

  &__caption-text::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  &__caption-btns {
    @include dimensions;
    @include inline-flex-container(nowrap, row, space-between, center);
  }

  &__caption-btn {
    // ...
  }

  &__container:hover {
    // ...
    .hot-item {
      // ...
      &__visual {
        filter: blur(0.1rem);
        // background-color: orchid;
        transform: scale(1.25);
      }

      &__caption {
        bottom: 0;
        background-color: $bg-color--transparant-black---level-5;
        box-shadow: $box-shadow--caption---slide-out;
      }

      &__title {
        top: -30%;
      }

      &__caption-title {
        @include transition-general;

        color: var(--color-secondary);
      }
    }
  }
}
