/* -------------------------------------------------------------------------- *\
-  SECTION 3: About
\* -------------------------------------------------------------------------- */

.about {
  background: radial-gradient(#003, #000);

  &__container {
    @include flex-container(wrap, row, space-evenly, stretch);
  }

  &__title {
    // padding: $buffer--m;
    // background-color: saddlebrown;
  }

  &__container--visual {
    // flex: 1 1 50%;
  }

  &__image {
    // height: 100%;
    background-color: navajowhite;
  }

  &__container--text {
    // width: 100%;
    min-width: calc(#{$dimension--xxs} - #{$buffer--l});
    max-width: calc((#{$dimension--xxs} / 3) + #{$dimension--xxs});
    // height: 80vh;
    // flex: 1 1 50%;
    // margin: $buffer--m;
    padding: 0;
  }

  &__outer-border {
    min-width: calc(#{$dimension--xxs} - (#{$dimension--xxs} / 10));
    max-width: calc((#{$dimension--l} / 4));
    aspect-ratio: $card-aspect-ratio;

    @include breakpoint(xs) {
      min-width: $card-width;
      height: $card-height;
      max-height: $card-height;
      aspect-ratio: $card-aspect-ratio;
    }
  }

  &__inner-border {
    // ...
  }

  &__title--text {
    padding: $buffer--xs 0;
  }

  &__sub-title {
    padding: $buffer--xs 0;
    font-size: $font-size--2;
  }

  &__paragraph {
    overflow: auto;
    height: calc(#{$card-height} - (#{$buffer--xxl} * 3));
    color: var(--color-background);
  }
}
