/* -------------------------------------------------------------------------- *\
-  SECTION 2: Hot Items
\* -------------------------------------------------------------------------- */

.hot-items {
  &__container {
    @include dimensions;
    @include block-flex-container(wrap, row, space-between, center);
  }

  &__title {
    padding: $filler--l 0 $filler--xs 0;

    // height: 10vh;

    // ...
  }
}

.hot-item {
  &__container {
    @include flex-items(1, 1);

    position: relative;
    min-width: calc(#{$dimension--xxs} - #{$filler--l});
    max-width: calc((#{$dimension--xxs} / 4) + #{$dimension--xxs});
    height: 80vh;
    // flex: 1 1 auto;
  }

  &__title {
    @include transition-general;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    padding: $filler--s;
    // background-color: thistle;
    font-variant: normal;
    font-weight: $font-weight--subject;
  }

  &__visual {
    @include transition-general;

    height: 100%;
    // background-color: blueviolet;
  }

  &__caption {
    @include transition-general;
    @include dimensions;

    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -30%;
    bottom: 0;
    left: 0;
    padding: $filler--s;
    box-shadow: $box-shadow--caption---slide-in;
  }

  &__caption-title {
    padding: 0;
    margin-bottom: $filler--s;
    color: var(--color-background);
    font-variant: small-caps;
    font-weight: $font-weight--subject;
    text-transform: lowercase;
  }

  &__caption-text {
    overflow: auto;
    height: 100px;
    margin: $filler--s 0;
    // background-color: magenta;
    color: var(--color-background);
  }

  &__caption-text::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  &__caption-btns {
    @include dimensions;
    @include inline-flex-container(nowrap, row, space-between, center);
  }

  &__caption-btn {
    // ...
  }

  &__container:hover {
    // ...
    .hot-item {
      // ...
      &__visual {
        // background-color: orchid;
        transform: scale(1.25);
      }

      &__caption {
        bottom: 0;
        background-color: $bg-color--transparant-black---level-5;
        box-shadow: $box-shadow--caption---slide-out;
      }

      &__title {
        top: -30%;
      }

      &__caption-title {
        @include transition-general;

        color: var(--color-secondary);
      }
    }
  }
}
