//Colors

$accent-color: #c8ac7f;
$light-blue: #b0c4de;
$dark-blue: #132636;
$dark-bg: #0f0e0e;
$almost-dark-bg: #353535;
$light-bg: #f7f5f5;

//Media Queries

$mq-xxs: 320px;
$mq-xs: 390px;
$mq-sm: 570px;
$mq-md: 770px;
$mq-lg: 1040px;
$mq-xl: 1260px;
$mq-xxl: 1460px;
$mq-xxxl: 1900px;

// Widths

$l-site-padding: 80px;
$site-padding: 60px;
$m-site-padding: 40px;
$s-site-padding: 20px;
$xs-site-padding: 10px;

$site-width: 1300px;
$site-width-with-padding: $site-width + $m-site-padding + $m-site-padding;

// Vue Formulate Variables

// Snow theme colors
// -----------------------------------------------------------------------------

$formulate-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$formulate-gray: #efefef;
$formulate-gray-d: #cecece;
$formulate-gray-dd: #a8a8a8;
$formulate-gray-ddd: #6d6d6d;
$formulate-gray-dddd: #2e2e2e;

$formulate-dark: #000000;

$formulate-blue-l: #f3f4f4;

$formulate-green: $accent-color;
$formulate-green-l: #64c89b;

$formulate-error: #960505;
$formulate-error-l: #dc2c2c;

$formulate-yellow-d: #6b5900;
$formulate-yellow: #e6c000;
$formulate-yellow-l: #fff8d2;

$formulate-white: #ffffff;

// Mixins
// -----------------------------------------------------------------------------
@mixin baseinput {
  appearance: none;
  border-radius: 0;
  border: 1px solid $formulate-gray-d;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 0.9em;
  font-family: $formulate-font-stack;
  padding: 0.75em;
  display: block;
  width: 80%;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;

  &::placeholder {
    color: $formulate-gray-dd;
    line-height: normal;
  }

  &:focus {
    outline: 0;
    border: 1px solid $formulate-green;
  }
}

@mixin down-arrow {
  content: '';
  width: 0;
  height: 0;
  border: 0.3em solid transparent;
  border-top-color: $formulate-gray-d;
  border-bottom-width: 0;
}

// Box-shadow

$box-shadow: 0 5px 1.7px rgb(0 0 0 / 1%), 0 5.5px 2.4px rgb(0 0 0 / 2%),
  0 8.2px 3.6px rgb(0 0 0 / 3%), 0 1.8px 3.6px rgb(0 0 0 / 4%),
  0 1.2px 4.4px rgb(0 0 0 / 4%), 0 7px 8px rgb(0 0 0 / 6%);
