/* -------------------------------------------------------------------------- *\
*  _card.scss: This partial file contains all 'card' styles.
\* -------------------------------------------------------------------------- */

.card {
  overflow: hidden;
  align-self: center;
  margin: $size-sm;
  background-color: aqua;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
