// -----------------------------------------------------------------------------
// *  _mixins.scss: This partial file contains all Scss 'mixins'.
// -----------------------------------------------------------------------------

@mixin section {
  min-width: 400px;
  padding: $size-xxl;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }
}

@mixin container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin flex-container($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
}

@mixin article {
  overflow: hidden;
  border-radius: $border-radius;
}

@mixin title {
  margin-bottom: $size-xsm;
  color: var(--primary-color);
  font-size: round($font-size-6);
  font-weight: $font-weight-heading;
}
