// -----------------------------------------------------------------------------
// +  _utilities.scss: This partial file contains all Scss 'utilities'.
// -----------------------------------------------------------------------------

// #  Full Width Containers in Limited Width Parents
.full-width {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin-right: -50vw;
  margin-left: -50vw;
}
