// -----------------------------------------------------------------------------
// +  _variables.scss: This partial file contains all Scss 'variables'.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// *  Box Model
// -----------------------------------------------------------------------------

// -  <<----------<< Sizes >>---------->>

// #  Sizes
$size--xxsm: 0.25rem; // 4px
$size--xsm: 0.5rem; // 8px
$size--sm: 1rem; // 16px
$size--md: 1.5rem; // 24px
$size--lg: 2rem; // 32px
$size--xl: 3rem; // 48px
$size--xxl: 4rem; // 64px

// -  <<----------<< Dimensions >>---------->>

// #  Dimensions
$dimension--xxsm: 20rem; // 320px
$dimension--xsm: 40rem; // 640px
$dimension--sm: 60rem; // 960px
$dimension--md: 80rem; // 1280px
$dimension--lg: 100rem; // 1600px
$dimension--xl: 120rem; // 1920px
$dimension--xxl: 140rem; // 2240px

// -  <<----------<< ... >>---------->>
$max-width: $dimension--xxl;

// -----------------------------------------------------------------------------
// *  Typography
// -----------------------------------------------------------------------------

// -  <<----------<< Generic >>---------->>

// #  Responsive Font Scale
$font-scale: 1.25;
$font-size: 1rem; // 16px
$font-size--1: $font-size; // 16px
$font-size--2: $font-size--1 * $font-scale; // 20px
$font-size--3: $font-size--2 * $font-scale; // 25px
$font-size--4: $font-size--3 * $font-scale; // 31.25px
$font-size--5: $font-size--4 * $font-scale; // 39.06px
$font-size--6: $font-size--5 * $font-scale; // 48.83px
$font-size--7: $font-size--6 * $font-scale; // 61.04px

// -  <<----------<< Color >>---------->>

// #  Color
$color--subject: var(--primary-color);
$color--title: var(--secondary-color);
$color--subtitle: var(--tertiary-color);
$color--text: var(--foreground-color);

// -  <<----------<< Font >>---------->>

// #  Font-Family
$font-family--subject: 'Montserrat', sans-serif;
$font-family--title: 'Montserrat', sans-serif;
$font-family--subtitle: 'Montserrat', sans-serif;
$font-family--text: 'Roboto', sans-serif;

// #  Font-Size
$font-size--subject: $font-size--7;
$font-size--title: $font-size--5;
$font-size--subtitle: $font-size--3;
$font-size--text: $font-size--1;

// #  Font-Style ---> Default

// #  Font-Variant
$font-variant--subject: normal;
$font-variant--title: normal;
$font-variant--subtitle: small-caps;
$font-variant--text: normal;

// #  Font-Weight
$font-weight--subject: 700;
$font-weight--title: 400;
$font-weight--subtitle: 300;
$font-weight--text: 300;

// #  Line-Height
$line-height--subject: 1.2;
$line-height--title: 1.2;
$line-height--subtitle: 1.2;
$line-height--text: 1.5;

// -  <<----------<< Text >>---------->>

// #  Text-Align
$text-align--subject: center;
$text-align--title: center;
$text-align--subtitle: left;
$text-align--text: left;

// #  Text-Decoration ---> Default

// #  Text-Indent  ---> Default

// #  Text-Overflow ---> Default

// #  Text-Shadow
$text-shadow--subject: none;
$text-shadow--title: none;
$text-shadow--subtitle: none;
$text-shadow--text: none;

// #  Text-Transform
$text-transform--subject: ;
$text-transform--title: ;
$text-transform--subtitle: ;
$text-transform--text: ;

// -  <<----------<< Word >>---------->>

// #  Word-Break
$word-break--subject: ;
$word-break--title: ;
$word-break--subtitle: ;
$word-break--text: ;

// #  Word-Spacing
$word-spacing--subject: ;
$word-spacing--title: ;
$word-spacing--subtitle: ;
$word-spacing--text: ;

// -  <<----------<< ... >>---------->>

// #  Letter-Spacing
$letter-spacing--subject: ;
$letter-spacing--title: ;
$letter-spacing--subtitle: ;
$letter-spacing--text: ;

// #  White-Space
$white-space--subject: ;
$white-space--title: ;
$white-space--subtitle: ;
$white-space--text: ;

// -----------------------------------------------------------------------------
// *  Other
// -----------------------------------------------------------------------------

// -  <<----------<< Generic Font Related >>---------->>

// -  <=======| Box-shadow |=======>
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

// -  <=======| Text-shadow |=======>
$text-shadow--1: 10px 10px 10px rgba(0, 0, 0, 0.5);
$text-shadow--2: 1px 1px 2px hsl(0, 0%, 0%);

// -  <=======| Border-radius |=======>
$border-radius: $size--sm; // 16px

// -  <=======| Colors |=======>
$color--grey-ish: hsl(31, 50%, 95%);
$color--purple: hsl(261, 61.2%, 14.3%);
$color--white: hsl(0, 0%, 100%);

$linear-gradient--yellow: hsla(45, 100%, 50%, 0.8);
$linear-gradient--orange: hsla(31, 99.8%, 42.8%, 0.8);
$linear-gradient--red: hsla(348, 99.8%, 47.1%, 0.8);
