// -----------------------------------------------------------------------------
// +  _variables.scss: This partial file contains all Scss 'variables'.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// *  Root
// -----------------------------------------------------------------------------

html {
  --wireframe--bg-color: hsla(0, 0%, 0%, 0.5);
  --wireframe--wire: #f00;
}

// -----------------------------------------------------------------------------
// *  Box Model
// -----------------------------------------------------------------------------

// -  <<----------<< Whitespace Sizes >>---------->>

// #  Whitespace
$size--xxs: 0.25rem; // 4px
$size--xs: 0.5rem; // 8px
$size--s: 1rem; // 16px
$size--m: 1.5rem; // 24px
$size--l: 2rem; // 32px
$size--xl: 3rem; // 48px
$size--xxl: 4rem; // 64px

// -  <<----------<< Box Dimension Sizes >>---------->>

// #  Dimensions
$dimension--xxs: 320px;
$dimension--xs: 640px;
$dimension--s: 960px;
$dimension--m: 1280px;
$dimension--l: 1600px;
$dimension--xl: 1920px;
$dimension--xxl: 2240px;

// -  <<----------<< Shadows Colors >>---------->>
$box-shadow--level-1: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow--level-2: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow--level-3: 0 10px 20px rgba(0, 0, 0, 0.19),
  0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow--level-4: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
$box-shadow--level-5: 0 19px 38px rgba(0, 0, 0, 0.3),
  0 15px 12px rgba(0, 0, 0, 0.22);

// -  <<----------<< Borders Sizes>>---------->>
$border-radius--xxs: 4px;
$border-radius--xs: 8px;
$border-radius--s: 16px;
$border-radius--m: 24px;
$border-radius--l: 32px;
$border-radius--xl: 48px;
$border-radius--xxl: 64px;

// -----------------------------------------------------------------------------
// *  Containers
// -----------------------------------------------------------------------------

// -  <<----------<< Flexbox styles >>---------->>

// -----------------------------------------------------------------------------
// *  Typography
// -----------------------------------------------------------------------------

// -  <<----------<< Color >>---------->>

// #  Color
$color--subject: var(--primary-color);
$color--section-title: var(--secondary-color);
$color--article-title: var(--tertiary-color);
$color--text: var(--foreground-color);
$color--background: var(--background-color);

// -  <<----------<< RFS >>---------->>

// #  Responsive Font Scale
$font-scale: 1.25;
$font-size: 1rem; // 16px
$font-size--1: $font-size; // 16px
$font-size--2: $font-size--1 * $font-scale; // 20px
$font-size--3: $font-size--2 * $font-scale; // 25px
$font-size--4: $font-size--3 * $font-scale; // 31.25px
$font-size--5: $font-size--4 * $font-scale; // 39.06px
$font-size--6: $font-size--5 * $font-scale; // 48.83px
$font-size--7: $font-size--6 * $font-scale; // 61.04px

// -  <<----------<< Font >>---------->>

// #  Font-Family
$font-family--subject: 'Montserrat', sans-serif;
$font-family--section-title: 'Montserrat', sans-serif;
$font-family--article-title: 'Montserrat', sans-serif;
$font-family--text: 'Roboto', sans-serif;

// #  Font-Size
$font-size--subject: $font-size--6;
$font-size--section-title: $font-size--5;
$font-size--article-title: $font-size--3;
$font-size--text: $font-size--1;

// #  Font-Style ---> Default

// #  Font-Variant
$font-variant--subject: normal;
$font-variant--section-title: normal;
$font-variant--article-title: small-caps;
$font-variant--text: normal;

// #  Font-Weight
$font-weight--subject: 700; // Bold
$font-weight--section-title: 400; // Normal
$font-weight--article-title: 300; // Light
$font-weight--text: 300; // Light

// #  Line-Height
$line-height--subject: 1; // 120%
$line-height--section-title: 1; // 120%
$line-height--article-title: 1.2; // 120%
$line-height--text: 1.5; // 150%

// -  <<----------<< Text >>---------->>

// #  Text-Align
$text-align--subject: center;
$text-align--section-title: center;
$text-align--article-title: left;
$text-align--text: left;

// #  Text-Decoration ---> Default

// #  Text-Indent ---> Default

// #  Text-Overflow ---> Default

// #  Text-Shadow ---> Default
$text-shadow--variant-1: 6px 6px 0 rgba(0, 0, 0, 0.2);
$text-shadow--variant-2: 4px 3px 0 #fff, 9px 8px 0 rgba(0, 0, 0, 0.15);
$text-shadow--variant-3: 0 4px 3px rgba(0, 0, 0, 0.4),
  0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
$text-shadow--variant-4: 4px 4px 0 #d5d5d5, 7px 7px 0 rgba(0, 0, 0, 0.2);
$text-shadow--variant-5: -1px -1px 1px #111, 2px 2px 1px #363636;

// #  Text-Transform
$text-transform--subject: uppercase;
$text-transform--section-title: capitalize;
$text-transform--article-title: none;
$text-transform--text: none;

// -  <<----------<< Word >>---------->>

// #  Word-Break ---> Default

// #  Word-Spacing ---> Default

// -  <<----------<< Spacing >>---------->>

// #  Letter-Spacing
$letter-spacing--subject: 0.025rem; // 0.4px
$letter-spacing--section-title: 0.05rem; // 0.8px
$letter-spacing--article-title: 0.1rem; // 1.6px
$letter-spacing--text: normal;

// #  White-Space ---> Default

// -----------------------------------------------------------------------------
// *  Temporary
// -----------------------------------------------------------------------------

// -  <<----------<< Temporary >>---------->>

// #  Color
$color-grey-light: #e7e7e7;
$color-gold: hsl(44, 32.4%, 39%);
$color-green: hsl(177, 87.7%, 27%);
$color-white: white;

$theme-bg: linear-gradient(110deg, rgba(black, 0.5), rgba(black, 0.1)),
  url('../img/hero-bg.png') 0% 0% / cover;

$support-bg: linear-gradient(110deg,
rgba(black, 0.5) 400px,
rgba(black, 0.1) 800px),
  url('../img/support-bg.jpg') center center / cover;

// #  linear-Gradient
$linear-gradient--yellow: hsla(23, 42%, 64%, 0.8);
$linear-gradient--orange: hsla(214, 42%, 64%, 0.8);
$linear-gradient--red: hsla(207, 48%, 14%, 0.8);
