/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< BLOCK TEXT >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< DESCRIPTION >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <dl> |--------------->
dl {
  @include box-dimensions;
  @include font(text-bigger);
}

// #  <---------------| <dt> |--------------->
dt {
  @include box-dimensions;
  @include font(text);
}

// #  <---------------| <dd> |--------------->
dd {
  @include box-dimensions;
  @include font(text-smaller);
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< FIGURE >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <figure> |--------------->
figure {
  @include box-dimensions;
  @include font(text-bigger);
}

// #  <---------------| <figcaption> |--------------->
figcaption {
  @include box-dimensions;
  @include font(text);
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< LISTS >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <ol> |--------------->
ol {
  @include box-dimensions;
  @include font(text-bigger);

  padding: 0;
}

// #  <---------------| <ul> |--------------->
ul {
  @include box-dimensions;
  @include font(text-bigger);

  padding: 0;
}

// #  <---------------| <li> |--------------->
li {
  @include box-dimensions;
  @include font(text);

  list-style-type: none;

  > a {
    display: inline-flex;
    width: 100%;
    place-self: center;
  }
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CONTENT >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <address> |--------------->
address {
  @include box-dimensions;
  @include font(text);
}

// #  <---------------| <blockquote> |--------------->
blockquote {
  @include box-dimensions;
  @include font(text-smaller);

  border-left: $buffer--xs solid var(--color-tertiary--darker);

  cite {
    @include box-dimensions;
    @include font(text-smaller);
  }
}
// #  <---------------| <hr> |--------------->
hr {
  @include box-dimensions($height: $small-dimension--xs, $margin: $buffer--s 0);

  background-image: linear-gradient(
    to right,
    hsla(
      var(--color-primary-h),
      var(--color-primary-s),
      var(--color-primary-l),
      0.25
    ),
    hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0.5
    ),
    hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0.75
    ),
    hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      1
    ),
    hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0.75
    ),
    hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0.5
    ),
    hsla(
      var(--color-primary-h),
      var(--color-primary-s),
      var(--color-primary-l),
      0.25
    )
  );
}

// #  <---------------| <p> |--------------->
p {
  @include box-dimensions;
  @include font(text);

  overflow: auto;
}

// #  <---------------| <pre> |--------------->
pre {
  @include box-dimensions;
  @include font(text-smaller);
}
