/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< FORMS >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< PARENTS >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <form> |--------------->
form {
  padding: $buffer--s;
  margin: $buffer--s;
  color: var(--color-text);
}

// #  <---------------| <datalist> |--------------->
datalist {
  padding: $buffer--s;
  margin: $buffer--s;
  color: var(--color-text);
}

// #  <---------------| <fieldset> |--------------->
fieldset {
  padding: $buffer--s;
  border: $buffer--xxxs var(--color-tertiary--darkest) solid;
  margin: $buffer--s;
  border-radius: $small-dimension--s;
  color: var(--color-text);
}

// #  <---------------| <optgroup> |--------------->
optgroup {
  padding: $buffer--s;
  margin: $buffer--s;
  color: var(--color-text);
}

// #  <---------------| <select> |--------------->
select {
  @include click-transition--small;

  padding: $buffer--s;
  border: 0;
  margin: $buffer--s;
  background-color: var(--color-tertiary);
  border-radius: $small-dimension--s;
  color: var(--color-text);
  font-family: inherit;
  font-size: inherit;
  outline: none;

  [multiple] {
    padding-right: $buffer--s;
    background-image: none;
    overflow-y: auto;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus {
    box-shadow: 0 0 0 $small-dimension--xxs var(--color-tertiary--darkest);
  }

  &:hover {
    background: var(--color-tertiary--lighter);
  }

  &:not([type='checkbox']):not([type='radio']) {
    display: block;
  }
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CHILDREN >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <button> |--------------->
button {
  @include click-transition--small;

  padding: $buffer--s;
  border: 0;
  margin: $buffer--s;
  background-color: var(--color-tertiary);
  border-radius: $small-dimension--s;
  color: var(--color-text);
  font-family: inherit;
  font-size: inherit;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 $small-dimension--xxs var(--color-tertiary--darkest);
  }

  &:hover {
    background: var(--color-tertiary--lighter);
  }

  &::placeholder {
    color: var(--color-text--lightest);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

// #  <---------------| <input> |--------------->
input {
  @include click-transition--small;

  padding: $buffer--s;
  border: 0;
  margin: $buffer--s;
  background-color: var(--color-tertiary);
  border-radius: $small-dimension--s;
  color: var(--color-text);
  font-family: inherit;
  font-size: inherit;
  outline: none;
  vertical-align: top;

  [type='submit'] {
    padding: $buffer--s;
    margin: $buffer--s;
    background: var(--color-tertiary--lighter);
  }

  [type='submit']:active {
    transform: translateY($small-dimension--xxs);
  }

  [type='reset'] {
    padding: $buffer--s;
    margin: $buffer--s;
    background: var(--color-tertiary--lighter);
  }

  [type='reset']:active {
    transform: translateY($small-dimension--xxs);
  }

  [type='checkbox'] {
    width: $buffer--m;
    height: $buffer--m;
    padding: $buffer--xxs $buffer--xs;
  }

  [type='checkbox']:active {
    transform: translateY($small-dimension--xxs);
  }

  [type='range'] {
    width: $buffer--m;
    height: $buffer--m;
    padding: $buffer--xxs $buffer--xs;
    background: transparent;
  }

  [type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: $small-dimension--s;
    background: var(--color-tertiary);
    border-radius: $small-dimension--xs;
    transition: 0.2s;
  }

  [type='range']:focus::-webkit-slider-runnable-track {
    background: var(--color-tertiary);
  }

  [type='range']::-webkit-slider-thumb {
    width: $small-dimension--m;
    height: $small-dimension--m;
    margin-top: -$small-dimension--s;
    appearance: none;
    background: var(--color-secondary);
    border-radius: 100%;
    box-shadow: 0 1px 1px #000, 0 0 1px #0d0d0d;
  }

  [type='range']:active {
    transform: translateY($small-dimension--xxs);
  }

  [type='radio'] {
    width: $buffer--m;
    height: $buffer--m;
    padding: $buffer--xxs $buffer--xs;
    border-radius: 100%;
  }

  [type='radio']:active {
    transform: translateY($small-dimension--xxs);
  }

  [type='color'] {
    width: $buffer--m;
    height: $buffer--m;
    padding: $buffer--xxs $buffer--xs;
  }

  [type='button'] {
    padding: $buffer--s;
    margin: $buffer--s;
    background: var(--color-tertiary--lighter);
  }

  [type='button']:active {
    transform: translateY($small-dimension--xxs);
  }

  &:focus {
    box-shadow: 0 0 0 $small-dimension--xxs var(--color-tertiary--darkest);
  }

  &:hover {
    background: var(--color-tertiary--lighter);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not([type='checkbox']):not([type='radio']) {
    display: block;
  }
}

// #  <---------------| <label> |--------------->
label {
  display: inline-block;
  padding: $buffer--xxs $buffer--xs;
  color: var(--color-text);
  vertical-align: middle;
}

// #  <---------------| <legend> |--------------->
legend {
  padding: $buffer--xxs $buffer--xs;
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: $font-size--2;
  font-weight: $font-weight--section;
}

// #  <---------------| <meter> |--------------->
meter {
  padding: $buffer--xxs $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <option> |--------------->
option {
  padding: $buffer--xxs $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <output> |--------------->
output {
  padding: $buffer--xxs $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <progress> |--------------->
progress {
  padding: $buffer--xxs $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <textarea> |--------------->
textarea {
  @include click-transition--small;

  display: block;
  padding: $buffer--s;
  border: 0;
  margin: $buffer--s;
  background-color: var(--color-tertiary);
  border-radius: $small-dimension--s;
  color: var(--color-primary);
  font-family: inherit;
  font-size: inherit;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 $small-dimension--xxs var(--color-tertiary--darkest);
  }

  &:hover {
    background: var(--color-tertiary--lighter);
  }

  &::placeholder {
    color: var(--color-primary--lightest);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
