/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< component >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< Disclosure Widget >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <summary> |--------------->
summary {
  padding: $buffer--xs;
  margin: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <details> |--------------->
details {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: $buffer--s;
  margin: $buffer--s;
  background-color: var(--color-background--light);
  border-radius: $small-dimension--xs;
  color: var(--color-text);

  [open] {
    padding: $buffer--s;
  }

  > :last-child {
    margin-bottom: 0;
  }

  [open] summary {
    margin-bottom: $buffer--s;
  }
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< Other >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <dialog> |--------------->
dialog {
  padding: $buffer--s;
  border: 0;
  border-color: var(--color-secondary);
  margin: $buffer--s;
  background-color: var(--color-background--light);
  border-radius: $small-dimension--xs;
  color: var(--color-text);

  > header:first-child {
    padding: $buffer--s;
    margin: -$buffer--s -$buffer--l $buffer--s;
    background-color: var(--color-background);
    border-radius: $small-dimension--xs $small-dimension--xs 0 0;
    color: var(--color-text);
    text-align: center;
  }

  &::backdrop {
    backdrop-filter: blur($small-dimension--xs);
    background: #0000009c;
  }
}

// #  <---------------| <menu> |--------------->
menu {
  padding: $buffer--xs;
  margin: $buffer--xs;
  color: var(--color-text);
}
