/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< INLINE TEXT >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< VISUAL >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <b> |--------------->
b {
  color: var(--color-text--darker);
  font-weight: $font-weight--subject;
}

// #  <---------------| <code> |--------------->
code {
  padding: $buffer--xs;
  background: var(--color-background);
  border-radius: $small-dimension--xs;
  color: var(--color-text);
  font-family: $font-family--text-alt;
  font-size: $font-size--1;
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <em> |--------------->
em {
  color: var(--color-text--darker);
}

// #  <---------------| <i> |--------------->
i {
  color: var(--color-text);
}

// #  <---------------| <kbd> |--------------->
kbd {
  padding: $buffer--xs;
  border: $small-dimension--xxxs solid var(--color-secondary);
  background: var(--color-primary);
  border-radius: $small-dimension--xs;
  color: var(--color-text--darker);
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <mark> |--------------->
mark {
  padding: $buffer--xs;
  background-color: var(--color-tertiary);
  border-radius: $small-dimension--xs;
  color: var(--color-text--darker);
}

// #  <---------------| <s> |--------------->
s {
  color: var(--color-text);
}

// #  <---------------| <samp> |--------------->
samp {
  padding: $buffer--xs;
  background: var(--color-background);
  border-radius: $small-dimension--xs;
  color: var(--color-text--darker);
  font-size: $font-size--1;
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <small> |--------------->
small {
  color: var(--color-text--lighter);
  font-weight: $font-weight--text-alt;
}

// #  <---------------| <strong> |--------------->
strong {
  color: var(--color-text--darker);
  font-weight: $font-weight--subject;
}

// #  <---------------| <sub> |--------------->
sub {
  color: var(--color-text--lighter);
  font-variant: $font-variant--text-alt;
  font-weight: $font-weight--text-alt;
}

// #  <---------------| <sup> |--------------->
sup {
  color: var(--color-text--lighter);
  font-variant: $font-variant--text-alt;
  font-weight: $font-weight--text-alt;
}

// #  <---------------| <u> |--------------->
u {
  color: var(--color-text);
}

// #  <---------------| <var> |--------------->
var {
  color: var(--color-primary);
  font-family: $font-family--text-alt;
  font-style: normal;
  font-variant: $font-variant--text-alt;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< FUNCTIONAL >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <a> |--------------->
a {
  padding: $buffer--xs;
  color: var(--color-primary);
  font-family: $font-family--link;
  font-size: $font-size--2;
  font-variant: $font-variant--link;
  font-weight: $font-weight--link;
  letter-spacing: $letter-spacing--link;
  text-align: $line-height--link;
  text-decoration: none;
  text-transform: $text-transform--link;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: $small-dimension--xxs;
    content: '';
    transition: width 0s ease, background 0.35s ease;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: $small-dimension--xxs;
    background: var(--color-tertiary);
    content: '';
    transition: width 0.35s ease;
  }

  &:hover {
    color: var(--color-secondary);
  }

  &:hover::before {
    width: 100%;
    background: var(--color-tertiary);
    transition: width 0.35s ease;
  }

  &:hover::after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }

  i {
    margin-right: $buffer--s;
    text-align: center;
  }
}

// #  <---------------| <abbr> |--------------->
abbr {
  color: var(--color-text--lighter);
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <bdi> |--------------->
bdi {
  color: var(--color-text);
}

// #  <---------------| <bdo> |--------------->
bdo {
  color: var(--color-text);
}

// #  <---------------| <br> |--------------->

// #  <---------------| <cite> |--------------->
cite {
  color: var(--color-text--lighter);
}

// #  <---------------| <data> |--------------->
data {
  color: var(--color-text);
}

// #  <---------------| <dfn> |--------------->
dfn {
  color: var(--color-text);
}

// #  <---------------| <q> |--------------->
q {
  padding: $buffer--xs;
  border-left: $small-dimension--xs solid var(--color-tertiary--darkest);
  color: var(--color-text--lighter);
  font-style: italic;

  &::before {
    content: none;
  }

  &::after {
    content: none;
  }
}

// #  <---------------| <time> |--------------->
time {
  padding: $buffer--xs;
  background: var(--color-background);
  border-radius: $small-dimension--xs;
  color: var(--color-text);
  font-size: $font-size--1;
}

// #  <---------------| <wbr> |--------------->
wbr {
  color: var(--color-text);
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< NON-SEMANTIC >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <span> |--------------->
span {
  color: var(--color-text);
}
