/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< INLINE TEXT >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< VISUAL >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <b> |--------------->
b {
  @include font(text-bigger);
}

// #  <---------------| <code> |--------------->
code {
  @include font(component-smaller);
}

// #  <---------------| <em> |--------------->
em {
  @include font(text-bigger);
}

// #  <---------------| <i> |--------------->
i {
  @include font(text);

  font-style: italic;
}

// #  <---------------| <kbd> |--------------->
kbd {
  @include font(component-smaller);
}

// #  <---------------| <mark> |--------------->
mark {
  @include font(text);

  background-color: var(--color-tertiary--light);
}

// #  <---------------| <s> |--------------->
s {
  @include font(text);

  text-decoration: line-through;
}

// #  <---------------| <samp> |--------------->
samp {
  @include font(component-smaller);
}

// #  <---------------| <small> |--------------->
small {
  @include font(text-smaller);
}

// #  <---------------| <strong> |--------------->
strong {
  @include font(text-bigger);
}

// #  <---------------| <sub> |--------------->
sub {
  @include font(text-smaller);

  vertical-align: bottom;
}

// #  <---------------| <sup> |--------------->
sup {
  @include font(text-smaller);

  vertical-align: top;
}

// #  <---------------| <u> |--------------->
u {
  @include font(text);

  text-decoration: underline;
}

// #  <---------------| <var> |--------------->
var {
  @include font(component-smaller);
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< FUNCTIONAL >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <a> |--------------->

// a {
//   transition: 0.2s ease-in;

//   svg {
//     path,
//     circle {
//       transition: 0.2s ease-in;
//     }
//   }
// }

a {
  @include font(text-bigger);

  position: relative;
  padding: $buffer--xs 0;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;

  &:hover {
    color: var(--color-tertiary--lighter);
    transition: $transition--default;

    path {
      color: var(--color-tertiary--lighter);
      transition: $transition--default;
    }
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: $small-dimension--xxs;
    content: '';
    transition: width 0s ease, background 0.35s ease;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: $small-dimension--xxs;
    background: var(--color-tertiary--lighter);
    content: '';
    transition: width 0.35s ease;
  }

  &:hover::before {
    width: 100%;
    background: var(--color-tertiary--lighter);
    transition: width 0.35s ease;
  }

  &:hover::after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }

  > [data-prefix='fab'] {
    &::before {
      content: normal;
    }

    &::after {
      content: normal;
    }
  }
}

// #  <---------------| <abbr> |--------------->
abbr {
  @include font(text-bigger);

  border-bottom: $small-dimension--xxxs dotted var(--color-tertiary);
}

// #  <---------------| <bdi> |--------------->
bdi {
  @include font(text);
}

// #  <---------------| <bdo> |--------------->
bdo {
  @include font(text);
}

// #  <---------------| <br> |--------------->

// #  <---------------| <cite> |--------------->
cite {
  @include font(text-smaller);
}

// #  <---------------| <data> |--------------->
data {
  @include font(text-bigger);

  font-variant: small-caps;
}

// #  <---------------| <dfn> |--------------->
dfn {
  @include font(text-bigger);
}

// #  <---------------| <q> |--------------->
q {
  @include font(text-smaller);

  border-left: $small-dimension--xs solid var(--color-tertiary--darker);
  font-style: italic;

  &::before {
    content: none;
  }

  &::after {
    content: none;
  }
}

// #  <---------------| <time> |--------------->
time {
  @include font(text-bigger);
}

// #  <---------------| <wbr> |--------------->
wbr {
  @include font(text);
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< NON-SEMANTIC >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <span> |--------------->
span {
  @include font(text);
}
