/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MULTIMEDIA >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< REGULAR >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <area> |--------------->

// #  <---------------| <audio> |--------------->

// #  <---------------| <img> |--------------->
img {
  @include box-dimensions;

  background-color: var(--bg-color--transparant---softest);
  color: var(--color-text);
  object-fit: cover;
  object-position: center center;
}

// #  <---------------| <map> |--------------->

// #  <---------------| <track> |--------------->

// #  <---------------| <video> |--------------->
video {
  @include box-dimensions;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< COMPLEX >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <embed> |--------------->

// #  <---------------| <iframe> |--------------->

// #  <---------------| <object> |--------------->

// #  <---------------| <param> |--------------->

// #  <---------------| <picture> |--------------->

// #  <---------------| <source> |--------------->

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< SPECIAL >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <svg> |--------------->
svg {
  @include box-dimensions;

  color: var(--color-primary);
  fill: var(--color-primary);
  object-fit: cover;
  object-position: center center;

  path {
    transition: $transition--default;
  }
}

// #  <---------------| <math> |--------------->
math {
  color: var(--color-text);
}
