/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< ROOT >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| * |--------------->
* {
  padding: 0;
  border: 0;
  margin: 0;
  // width: 100%;
  // height: auto;
}

// #  <---------------| <html> |--------------->
html {
  @include font-sizes--responsive(40rem, 60rem, 1rem, 1.25rem);
  // @include scrollbar-style(
  //   $size: calc(#{$buffer--s} + #{$buffer--xs}),
  //   $color: var(--color-tertiary)
  // );
  // @include scrollbar-function(smooth, y proximity);
}

// #  <---------------| <body> |--------------->
body {
  // @include box-dimensions($max-width: $max-width--root);
  @include block-container($center-me);
  // @include font(text);
  // @include text-rendering(optimizeLegibility);

  background-color: var(--color-background);

  // # Lifesaving Scrollbar hack!
  overflow-x: hidden;

  @include breakpoint(xxs) {
    background-color: #2f4f4f;
  }

  @include breakpoint(xs) {
    background-color: #704241;
  }

  @include breakpoint(s) {
    background-color: #674846;
  }

  @include breakpoint(m) {
    background-color: #52593b;
  }

  @include breakpoint(l) {
    background-color: #414a4c;
  }

  @include breakpoint(xl) {
    background-color: #32174d;
  }

  @include breakpoint(xxl) {
    background-color: #1a2421;
  }
}
