/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< SECTIONING >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  <<--------------------<< MAIN >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <nav> |--------------->
nav {
  @include box-dimensions(s);

  overflow: hidden;
  border-radius: $small-dimension--m;
}

// #  <---------------| <article> |--------------->
article {
  @include box-dimensions(s);
}

// #  <---------------| <section> |--------------->
section {
  @include box-dimensions(s, $max-width: $max-width--root);

  min-height: 100vh;
}

// #  <---------------| <aside> |--------------->
aside {
  @include box-dimensions(s);
}

/* -------------------------------------------------------------------------- *\
-  <<--------------------<< SUB >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <header> |--------------->
header {
  @include box-dimensions(s, $max-width: $max-width--root, $margin: $center-me);

  margin: $center-me;
}

// #  <---------------| <footer> |--------------->
footer {
  @include box-dimensions(s, $max-width: $max-width--root, $margin: $center-me);
}

// #  <---------------| <main> |--------------->
main {
  @include box-dimensions($max-width: $max-width--root, $margin: $center-me);

  margin: $center-me;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< NON-SEMANTIC  >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <div> |--------------->
div {
  @include box-dimensions;
}
