/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< SECTIONING >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  <<--------------------<< MAIN >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <nav> |--------------->
nav {
  @include box-dimensions(s);

  overflow: hidden;
  border-radius: $small-dimension--s;
}

// #  <---------------| <article> |--------------->
article {
  @include box-dimensions(s);
}

// #  <---------------| <section> |--------------->
section {
  @include box-dimensions(m, $max-width: $max-width--root, $margin: $center-me);

  min-height: 100vh;

  @include breakpoint(l) {
    padding: $buffer--l;
  }
}

// #  <---------------| <aside> |--------------->
aside {
  @include box-dimensions(m);

  @include breakpoint(l) {
    padding: $buffer--l;
  }
}

/* -------------------------------------------------------------------------- *\
-  <<--------------------<< SUB >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <header> |--------------->
header {
  @include box-dimensions(m, $max-width: $max-width--root, $margin: $center-me);

  @include breakpoint(l) {
    padding: $buffer--l;
  }
}

// #  <---------------| <footer> |--------------->
footer {
  @include box-dimensions(m, $max-width: $max-width--root, $margin: $center-me);

  @include breakpoint(l) {
    padding: $buffer--l;
  }
}

// #  <---------------| <main> |--------------->
main {
  @include box-dimensions($max-width: $max-width--root, $margin: $center-me);
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< NON-SEMANTIC  >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <div> |--------------->
div {
  @include box-dimensions;
}
