/* -------------------------------------------------------------------------- *\
*  <<--------------------<< TABLE >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< PARENTS >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <table> |--------------->
table {
  @include box-dimensions(m);
  @include font(component-bigger);

  border-collapse: collapse;
  table-layout: fixed;
}

// #  <---------------| <thead> |--------------->
thead {
  @include box-dimensions(s);
  @include font(component-bigger);
}
// #  <---------------| <tr> |--------------->
tr {
  @include box-dimensions(s);
  @include font(component-bigger);
}

// #  <---------------| <tbody> |--------------->
tbody {
  @include box-dimensions(s);
  @include font(component-bigger);

  tr:nth-child(even) {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  tr:nth-child(even) button {
    background-color: var(--color-background--lighter);
    color: var(--color-text);
  }

  tr:nth-child(even) button:hover {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}

// #  <---------------| <tfoot> |--------------->
tfoot {
  @include box-dimensions(s);
  @include font(component-bigger);
}

// #  <---------------| <colgroup> |--------------->
colgroup {
  @include box-dimensions(s);
  @include font(component-bigger);
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CHILDREN >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <caption> |--------------->
caption {
  padding: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <col> |--------------->
col {
  padding: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <th> |--------------->
th {
  padding: $buffer--xs;
  color: var(--color-text);
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

// #  <---------------| <td> |--------------->
td {
  padding: $buffer--xs;
  color: var(--color-text);
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}
