/* -------------------------------------------------------------------------- *\
*  <<--------------------<< TABLE >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< PARENTS >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <table> |--------------->
table {
  width: 100%;
  padding: $buffer--s;
  margin: $buffer--s;
  margin-bottom: $buffer--s;
  border-collapse: collapse;
  color: var(--color-text);
  table-layout: fixed;
}

// #  <---------------| <thead> |--------------->
thead {
  padding: $buffer--xs;
  border-bottom: $small-dimension--xxxs solid var(--color-secondary);
  color: var(--color-text);
}
// #  <---------------| <tr> |--------------->
tr {
  padding: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <tbody> |--------------->
tbody {
  padding: $buffer--xs;

  tr:nth-child(even) {
    background-color: var(--color-background);
    color: var(--color-text);
  }

  tr:nth-child(even) button {
    background-color: var(--color-background--lighter);
    color: var(--color-text);
  }

  tr:nth-child(even) button:hover {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}

// #  <---------------| <tfoot> |--------------->
tfoot {
  padding: $buffer--xs;
  border-top: $small-dimension--xxxs solid var(--color-secondary);
  color: var(--color-text);
}

// #  <---------------| <colgroup> |--------------->
colgroup {
  padding: $buffer--xs;
  color: var(--color-text);
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CHILDREN >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <caption> |--------------->
caption {
  padding: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <col> |--------------->
col {
  padding: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <th> |--------------->
th {
  padding: $buffer--xs;
  color: var(--color-text);
  font-weight: $font-weight--subject;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

// #  <---------------| <td> |--------------->
td {
  padding: $buffer--xs;
  color: var(--color-text);
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}
