/* -------------------------------------------------------------------------- *\
*  _base.scss: This partial file contains the custom `base` HTML tags
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  Core
\* -------------------------------------------------------------------------- */

// #  *
* {
  padding: 0;
  margin: 0;
}

// #  <html>
html {
  @include fluid-type(40rem, 80rem, 1rem, 1.5rem);
}

// #  <body>
body {
  min-width: $dimension--xxs;
  max-width: $dimension--xl;
  margin: 0 auto;
  background-color: darken(#2c3e50, 4%);
  color: var(--foreground-color);
  font-family: $font-family--text;
  font-weight: $font-weight--text;
  line-height: normal;
}

// # <div>

// # <span>
