/* -------------------------------------------------------------------------- *\
*  _base.scss: This partial file contains the custom `base` HTML tags
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  Core
\* -------------------------------------------------------------------------- */

// #  *
* {
  padding: 0;
  border: 0;
  margin: 0;
  // width: 100%;
  // height: auto;
}

// #  <html>
html {
  @include fluid-type(40rem, 80rem, 1rem, 1.5rem);
}

// #  <body>
body {
  max-width: $dimension--l;
  margin: $center-me;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: $font-family--text;
  font-weight: $font-weight--text;
  line-height: $line-height--text;

  // # Lifesaving Scrollbar hack!
  overflow-x: hidden;

  @include breakpoint(xxs) {
    background-color: darkslateblue;
  }

  @include breakpoint(xs) {
    background-color: slateblue;
  }

  @include breakpoint(s) {
    background-color: purple;
  }

  @include breakpoint(m) {
    background-color: blueviolet;
  }

  @include breakpoint(l) {
    background-color: magenta;
  }

  @include breakpoint(xl) {
    background-color: plum;
  }
}

// #  <main>

.main__container > section {
  min-height: 100vh;
}
