/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< BLOCK TEXT >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< DESCRIPTION >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <dl> |--------------->
dl {
  padding: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <dt> |--------------->
dt {
  padding: $buffer--xxs;
  color: var(--color-text);
}

// #  <---------------| <dd> |--------------->
dd {
  padding: $buffer--xxs;
  color: var(--color-text);
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< FIGURE >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <figure> |--------------->
figure {
  padding: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <figcaption> |--------------->
figcaption {
  padding: $buffer--xxs;
  color: var(--color-text);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< LISTS >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <ol> |--------------->
ol {
  padding: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <ul> |--------------->
ul {
  padding: $buffer--xs;
  color: var(--color-text);
}

// #  <---------------| <li> |--------------->
li {
  padding: $buffer--xxs;
  color: var(--color-text);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  list-style-type: none;
  text-align: $text-align--text;
  text-transform: $text-transform--text;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CONTENT >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <address> |--------------->
address {
  padding: $buffer--xs;
  color: var(--color-text);
  font-style: normal;
}

// #  <---------------| <blockquote> |--------------->
blockquote {
  padding: $buffer--xs;
  border-left: $buffer--xs solid var(--color-tertiary--darkest);
  color: var(--color-text);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-style: italic;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;

  > footer {
    border: 0;
    font-style: normal;
  }

  cite {
    font-style: normal;
  }
}
// #  <---------------| <hr> |--------------->
hr {
  width: 100%;
  height: $small-dimension--xxxs;
  padding: $buffer--xs;
  border: 0;
  margin: $buffer--xs;
  background-image:
    linear-gradient(to right,
    hsla(var(--color-background-h),
    var(--color-background-s),
    var(--color-background-l),
    0),
    hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0.5),
    hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0.75),
    hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0.5),
    hsla(var(--color-background-h),
    var(--color-background-s),
    var(--color-background-l),
    0));
}

// #  <---------------| <p> |--------------->
p {
  padding: $buffer--xs;
  color: var(--color-text);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;
}

// #  <---------------| <pre> |--------------->
pre {
  padding: $buffer--xs;
  color: var(--color-text);

  > code {
    display: block;
    padding: $buffer--xxs;
    overflow-x: auto;
  }
}
