/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< BLOCK TEXT >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< DESCRIPTION >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <dl> |--------------->

// #  <---------------| <dt> |--------------->

// #  <---------------| <dd> |--------------->

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< FIGURE >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <figure> |--------------->

// #  <---------------| <figcaption> |--------------->
figcaption {
  padding: $buffer--xs 0;
  color: var(--color-foreground);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< LISTS >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <ol> |--------------->

// #  <---------------| <ul> |--------------->

// #  <---------------| <li> |--------------->
li {
  padding: $buffer--xs 0;
  list-style-type: none;
  color: var(--color-foreground);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CONTENT >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <address> |--------------->
address {
  font-style: normal;
}

// #  <---------------| <blockquote> |--------------->
blockquote {
  border-left: 4px solid var(--focus);
  margin: 1.5em 0;
  font-style: italic;

  padding: $buffer--xs 0;
  color: var(--color-foreground);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;

  & > footer {
    font-style: normal;
    border: 0;
  }

  & cite {
    font-style: normal;
  }
}
// #  <---------------| <hr> |--------------->
hr {
  width: 100%;
  height: calc(#{$small-dimension--xxs} / 2);
  border: 0;
  margin: $buffer--s auto;
  background-image: linear-gradient(
    to right,
    hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0
    ),
    hsla(
      var(--color-foreground-h),
      var(--color-foreground-s),
      var(--color-foreground-l),
      0.5
    ),
    hsla(
      var(--color-foreground-h),
      var(--color-foreground-s),
      var(--color-foreground-l),
      0.75
    ),
    hsla(
      var(--color-foreground-h),
      var(--color-foreground-s),
      var(--color-foreground-l),
      0.5
    ),
    hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0
    )
  );
}

// #  <---------------| <p> |--------------->
p {
  padding: $buffer--xs 0;
  color: var(--color-foreground);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;
}

// #  <---------------| <pre> |--------------->
pre {
  & > code {
    padding: $buffer--s;
    display: block;
    overflow-x: auto;
  }
}
