/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< FORMS >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< PARENTS >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <form> |--------------->

// #  <---------------| <datalist> |--------------->

// #  <---------------| <fieldset> |--------------->
fieldset {
  border: 1px var(--focus) solid;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 12px;
  padding: 10px;
}

// #  <---------------| <optgroup> |--------------->

// #  <---------------| <select> |--------------->
select {
  @include click-transition--small;

  display: block;
  color: var(--form-text);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  padding-right: 35px;
  border: none;
  border-radius: 6px;
  outline: none;

  &[multiple] {
    padding-right: 10px;
    background-image: none;
    overflow-y: auto;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--focus);
  }

  &:hover {
    background: var(--button-hover);
  }

  &:not([type='checkbox']):not([type='radio']) {
    display: block;
  }
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CHILDREN >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <button> |--------------->
button {
  @include click-transition--small;

  color: var(--form-text);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border: none;
  border-radius: 6px;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px var(--focus);
  }

  &:hover {
    background: var(--button-hover);
  }

  &::placeholder {
    color: var(--form-placeholder);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

// #  <---------------| <input> |--------------->
input {
  @include click-transition--small;

  color: var(--form-text);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border: none;
  border-radius: 6px;
  outline: none;

  vertical-align: top;

  &[type='submit'] {
    padding-right: 30px;
    padding-left: 30px;
    background: var(--button-hover);

    &:active {
      transform: translateY(2px);
    }
  }

  &[type='reset'] {
    padding-right: 30px;
    padding-left: 30px;
    background: var(--button-hover);

    &:active {
      transform: translateY(2px);
    }
  }

  &[type='checkbox'] {
    min-height: 2rem;
    padding: 8px;

    &:active {
      transform: translateY(2px);
    }
  }

  &[type='range'] {
    margin: 10px 0;
    padding: 10px 0;
    background: transparent;

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 9.5px;
      transition: 0.2s;
      background: var(--background);
      border-radius: 3px;
    }

    &:focus::-webkit-slider-runnable-track {
      background: var(--background);
    }

    &::-webkit-slider-thumb {
      box-shadow: 0 1px 1px #000, 0 0 1px #0d0d0d;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: var(--border);
      -webkit-appearance: none;
      margin-top: -7px;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &[type='radio'] {
    border-radius: 100%;

    &:active {
      transform: translateY(2px);
    }
  }

  &[type='color'] {
    min-height: 2rem;
    padding: 8px;
  }

  &[type='button'] {
    padding-right: 30px;
    padding-left: 30px;
    background: var(--button-hover);

    &:active {
      transform: translateY(2px);
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--focus);
  }

  &:hover {
    background: var(--button-hover);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not([type='checkbox']):not([type='radio']) {
    display: block;
  }
}

// #  <---------------| <label> |--------------->
label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}

// #  <---------------| <legend> |--------------->
legend {
  font-size: 0.9em;
  font-weight: 600;
}

// #  <---------------| <meter> |--------------->

// #  <---------------| <option> |--------------->

// #  <---------------| <output> |--------------->

// #  <---------------| <progress> |--------------->

// #  <---------------| <textarea> |--------------->
textarea {
  @include click-transition--small;

  color: var(--form-text);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border: none;
  border-radius: 6px;
  outline: none;

  display: block;

  &:focus {
    box-shadow: 0 0 0 2px var(--focus);
  }

  &:hover {
    background: var(--button-hover);
  }

  &::placeholder {
    color: var(--form-placeholder);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
