/* -------------------------------------------------------------------------- *\
*  <<--------------------<< HEADING >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  <<--------------------<< Heading >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <h1> |--------------->
h1 {
  padding: $buffer--l $buffer--s;
  color: var(--color-primary);
  font-family: $font-family--subject;
  font-size: $font-size--6;
  font-variant: $font-variant--subject;
  font-weight: $font-weight--subject;
  letter-spacing: $letter-spacing--subject;
  line-height: $line-height--subject;
  text-align: $text-align--subject;
  text-transform: $text-transform--subject;

  + p::first-letter {
    color: var(--color-secondary);
    font-size: $font-size--3;
    line-height: $line-height--article;
  }
}

// #  <---------------| <h2> |--------------->
h2 {
  padding: $buffer--l $buffer--s;
  color: var(--color-tertiary);
  font-family: $font-family--section;
  font-size: $font-size--5;
  font-variant: $font-variant--section;
  font-weight: $font-weight--section;
  letter-spacing: $letter-spacing--section;
  line-height: $line-height--section;
  text-align: $text-align--section;
  text-transform: $text-transform--section;

  + p::first-letter {
    color: var(--color-secondary);
    font-size: $font-size--3;
    line-height: $line-height--article;
  }
}

// #  <---------------| <h3> |--------------->
h3 {
  padding: $buffer--m 0;
  color: var(--color-secondary);
  font-family: $font-family--article;
  font-size: $font-size--4;
  font-variant: $font-variant--article;
  font-weight: $font-weight--article;
  letter-spacing: $letter-spacing--article;
  line-height: $line-height--article;
  text-align: $text-align--article;
  text-transform: $text-transform--article;

  + p::first-letter {
    color: var(--color-secondary);
    font-size: $font-size--3;
    line-height: $line-height--article;
  }
}

// #  <---------------| <h4> |--------------->
h4 {
  padding: $buffer--m 0;
  color: var(--color-secondary);
  font-family: $font-family--link;
  font-size: $font-size--3;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;

  + p::first-letter {
    color: var(--color-secondary);
    font-size: $font-size--3;
    line-height: $line-height--article;
  }
}

// #  <---------------| <h5> |--------------->
h5 {
  padding: $buffer--s 0;
  color: var(--color-tertiary);
  font-family: $font-family--text;
  font-size: $font-size--2;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;

  + p::first-letter {
    color: var(--color-secondary);
    font-size: $font-size--3;
    line-height: $line-height--article;
  }
}

// #  <---------------| <h6> |--------------->
h6 {
  padding: $buffer--s 0;
  color: var(--color-tertiary);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;

  + p::first-letter {
    color: var(--color-secondary);
    font-size: $font-size--3;
    line-height: $line-height--article;
  }
}
