/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< INLINE TEXT >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< VISUAL >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <b> |--------------->
b {
  font-weight: $font-weight--subject;
  color: var(--color-text);
}

// #  <---------------| <code> |--------------->
code {
  background: var(--background);
  color: var(--color-text);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <em> |--------------->
em {
  color: var(--color-text);
}

// #  <---------------| <i> |--------------->
i {
  color: var(--color-text);
}

// #  <---------------| <kbd> |--------------->
kbd {
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--text-main);
  padding: 2px 4px 2px 4px;
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <mark> |--------------->
mark {
  background-color: var(--highlight);
  border-radius: 2px;
  padding: 0 2px 0 2px;
  color: var(--color-text);
}

// #  <---------------| <s> |--------------->
s {
  color: var(--color-text);
}

// #  <---------------| <samp> |--------------->
samp {
  background: var(--background);
  color: var(--color-text);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <small> |--------------->
small {
  font-weight: $font-weight--text-alt;
  color: var(--color-text);
}

// #  <---------------| <strong> |--------------->
strong {
  color: var(--color-text);
  font-weight: $font-weight--subject;
}

// #  <---------------| <sub> |--------------->
sub {
  font-weight: $font-weight--text-alt;
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <sup> |--------------->
sup {
  font-weight: $font-weight--text-alt;
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <u> |--------------->

// #  <---------------| <var> |--------------->
var {
  color: var(--variable);
  font-style: normal;
  font-family: monospace;
  font-variant: $font-variant--text-alt;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< FUNCTIONAL >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <a> |--------------->
a {
  padding: $buffer--xs 0;
  color: var(--color-primary);
  font-family: $font-family--link;
  font-size: $font-size--2;
  font-variant: $font-variant--link;
  font-weight: $font-weight--link;
  letter-spacing: $letter-spacing--link;
  text-align: $line-height--link;
  text-decoration: none;
  text-transform: $text-transform--link;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    content: '';
    transition: width 0s ease, background 0.35s ease;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: var(--color-foreground);
    content: '';
    transition: width 0.35s ease;
  }

  &:hover {
    color: var(--color-secondary);
  }

  &:hover::before {
    width: 100%;
    background: var(--color-tertiary);
    transition: width 0.35s ease;
  }

  &:hover::after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
  }

  i {
    margin-right: $buffer--s;
    text-align: center;
  }
}

// #  <---------------| <abbr> |--------------->
abbr {
  font-variant: $font-variant--text-alt;
}

// #  <---------------| <bdi> |--------------->

// #  <---------------| <bdo> |--------------->

// #  <---------------| <br> |--------------->

// #  <---------------| <cite> |--------------->

// #  <---------------| <data> |--------------->

// #  <---------------| <dfn> |--------------->

// #  <---------------| <q> |--------------->
q {
  border-left: 4px solid var(--focus);
  margin: 1.5em 0;
  padding: 0.5em 1em;
  font-style: italic;

  &::before {
    content: none;
  }

  &::after {
    content: none;
  }
}

// #  <---------------| <time> |--------------->
time {
  background: var(--background);
  color: var(--code);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
}

// #  <---------------| <wbr> |--------------->

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< NON-SEMANTIC >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <span> |--------------->
