/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< INTERACTIVE >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< Disclosure Widget >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <details> |--------------->
details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-background--lighter);
  color: var(--color-text);
  padding: $buffer--s;
  margin: $buffer--s;
  border-radius: $small-dimension--xs;
  overflow: hidden;

  &[open] {
    padding: $buffer--s;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &[open] summary {
    margin-bottom: $buffer--s;
  }
}

// #  <---------------| <summary> |--------------->
summary {
  color: var(--color-text);
  padding: $buffer--xs;
  margin: $buffer--xs;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< Other >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <dialog> |--------------->
dialog {
  background-color: var(--color-background--lighter);
  color: var(--color-text);
  border: none;
  border-radius: $small-dimension--xs;
  border-color: var(--color-secondary);
  padding: $buffer--s;
  margin: $buffer--s;

  & > header:first-child {
    background-color: var(--color-background);
    color: var(--color-text);
    border-radius: $small-dimension--xs $small-dimension--xs 0 0;
    margin: -$buffer--s -$buffer--l $buffer--s;
    padding: $buffer--s;
    text-align: center;
  }

  &::backdrop {
    background: #0000009c;
    backdrop-filter: blur(4px);
  }
}

// #  <---------------| <menu> |--------------->
menu {
  color: var(--color-text);
  padding: $buffer--xs;
  margin: $buffer--xs;
}
