/* -------------------------------------------------------------------------- *\
*  _layout.scss: This partial file contains all the default 'layout'.
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  GENERIC TAGS
\* -------------------------------------------------------------------------- */

// #  <<<----------<< Article >>---------->>

article {
  padding: $buffer--xs;
  outline: calc(#{$buffer--xxs} / 2) rgb(255, 0, 0) dashed;
}

// #  <<<----------<< Aside >>---------->>

aside {
  padding: $buffer--xs;
  outline: calc(#{$buffer--xxs} / 2) rgb(255, 0, 0) dashed;
}

// #  <<<----------<< Footer >>---------->>

footer {
  padding: $buffer--xs;
  outline: calc(#{$buffer--xxs} / 2) rgb(255, 0, 0) dashed;
}

// #  <<<----------<< Header >>---------->>

header {
  padding: $buffer--xs;
  outline: calc(#{$buffer--xxs} / 2) rgb(255, 0, 0) dashed;
}

// # <<----------<< Nav >>---------->>

nav {
  @include dimensions;

  max-width: $limit--max-width;
  padding: $buffer--xs;
  outline: calc(#{$buffer--xxs} / 2) rgb(255, 0, 0) dashed;
}

// #  <<<----------<< Section >>---------->>

section {
  padding: $buffer--xs;
  outline: calc(#{$buffer--xxs} / 2) rgb(255, 0, 0) dashed;
}

/* -------------------------------------------------------------------------- *\
-  CONTAINER CLASSES
\* -------------------------------------------------------------------------- */

.inline-flex {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-content: space-evenly;
  place-items: stretch;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  place-content: space-evenly;
  place-items: stretch;
}
