/* -------------------------------------------------------------------------- *\
*  _media.scss: This partial file contains all application-wide 'media'.
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  Svg
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

svg {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  fill: $color--text;
  color: $color--text;
}

// -  <<----------<< Specific >>---------->>

// ...

.icon {
  color: $color--text;
  fill: $color--text;
}

/* -------------------------------------------------------------------------- *\
-  Img
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

// -  <<----------<< Specific >>---------->>

// ...
