/* -------------------------------------------------------------------------- *\
*  _media.scss: This partial file contains all application-wide 'media'.
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  Svg
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

svg {
  @include dimensions;

  color: var(--foreground-color);
  fill: var(--foreground-color);
  object-fit: cover;
  object-position: center center;
}

// -  <<----------<< Specific >>---------->>

.fas {
  @include dimensions(fas, $font-size--2);
}

.fab {
  @include dimensions(fab, $font-size--5);
  // color: green;
}

.fa-facebook {
  &:hover {
    @include box-transition;

    color: #1877f2;
  }
}

.fa-instagram {
  &:hover {
    @include box-transition;

    color: #e4405f;
  }
}

.fa-twitter {
  &:hover {
    @include box-transition;

    color: #1da1f2;
  }
}

.fa-youtube {
  &:hover {
    @include box-transition;

    color: #f00;
  }
}

/* -------------------------------------------------------------------------- *\
-  Img
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

img {
  @include dimensions;

  object-fit: cover;
  object-position: center center;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.8) contrast(1.2);
  }
}

// -  <<----------<< Specific >>---------->>

// ...
