/* -------------------------------------------------------------------------- *\
*  _media.scss: This partial file contains all application-wide 'media'.
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  Svg
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

svg {
  @include dimensions;

  color: var(--foreground-color);
  fill: var(--foreground-color);
  object-fit: cover;
  object-position: center center;
}

// -  <<----------<< Specific >>---------->>

// ...

/* -------------------------------------------------------------------------- *\
-  Img
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

img {
  @include dimensions;

  object-fit: cover;
  object-position: center center;

  // @media (prefers-color-scheme: dark) {
  //   filter: brightness(0.8) contrast(1.2);
  // }
}

// -  <<----------<< Specific >>---------->>

// ...
