/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MULTIMEDIA >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <svg> |--------------->
svg {
  @include box-dimensions;

  color: var(--color-foreground);
  fill: var(--color-foreground);
  object-fit: cover;
  object-position: center center;
}

// #  <---------------| <img> |--------------->
img {
  @include box-dimensions;

  background-color: var(--bg-color--transparant---softest);
  object-fit: cover;
  object-position: center center;
}

// #  <---------------| <picture> |--------------->
picture {
  @include box-dimensions;

  background-color: var(--bg-color--transparant---softest);
  object-fit: cover;
  object-position: center center;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< REGULAR >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <area> |--------------->
 {
}

// #  <---------------| <audio> |--------------->
 {
}

// #  <---------------| <img> |--------------->
 {
}

// #  <---------------| <map> |--------------->
 {
}

// #  <---------------| <track> |--------------->
 {
}

// #  <---------------| <video> |--------------->
video {
  @include box-dimensions;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< COMPLEX >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <embed> |--------------->
 {
}

// #  <---------------| <iframe> |--------------->
 {
}

// #  <---------------| <object> |--------------->
 {
}

// #  <---------------| <param> |--------------->
 {
}

// #  <---------------| <picture> |--------------->
 {
}

// #  <---------------| <portal> |--------------->
 {
}

// #  <---------------| <source> |--------------->
 {
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< SPECIAL >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <svg> |--------------->
 {
}

// #  <---------------| <math> |--------------->
 {
}
