/* -------------------------------------------------------------------------- *\
// *  This partial file contains the custom `reset` HTML tags
\* -------------------------------------------------------------------------- */

// See '../vendors/reboot';

body {
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--foreground-color);
}
