/*----------------------------------------------------------------------------*\
// *  This partial file contains the custom `reset` HTML tags
\*----------------------------------------------------------------------------*/

// See '../vendors/reboot';

body {
  font-family: 'Roboto', sans-serif;
  font-style: $font-style-normal;
  font-weight: $font-weight-text;
}
