/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< ROOT >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| * |--------------->
* {
  padding: 0;
  border: 0;
  margin: 0;
  // width: 100%;
  // height: auto;
}

// #  <---------------| <html> |--------------->
html {
  @include font-sizes--responsive(40rem, 60rem, 1rem, 1.25rem);
  @include scrollbar-style(
    $size: calc(#{$buffer--s} + #{$buffer--xs}),
    $color: var(--color-tertiary)
  );
  @include scrollbar-function(smooth, y proximity);
}

// #  <---------------| <body> |--------------->
body {
  max-width: $max-width--root;
  margin: $center-me;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: $font-family--text;
  font-weight: $font-weight--text;
  line-height: $line-height--text;

  // # Lifesaving Scrollbar hack!
  overflow-x: hidden;

  @include text-rendering(optimizeLegibility);
}

// #  <---------------| <main> |--------------->
