/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< SECTIONING >>-------------------->>
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  <<--------------------<< MAIN >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <nav> |--------------->
nav {
  @include box-dimensions;

  max-width: $max-width--root;
  padding: $buffer--s;
}

// #  <---------------| <article> |--------------->
article {
  padding: $buffer--s;
}

// #  <---------------| <section> |--------------->
section {
  padding: $buffer--s;
}

// #  <---------------| <aside> |--------------->
aside {
  padding: $buffer--s;
}

/* -------------------------------------------------------------------------- *\
-  <<--------------------<< SUB >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <header> |--------------->
header {
  padding: $buffer--s;
}

// #  <---------------| <footer> |--------------->
footer {
  padding: $buffer--s;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< NON-SEMANTIC  >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  <---------------| <div> |--------------->
