/* -------------------------------------------------------------------------- *\
*  _typography.scss: This partial file contains all application-wide 'typography'.
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  Headings
\* -------------------------------------------------------------------------- */

// #  <h1>
h1 {
  color: $color--subject;
  font-family: $font-family--subject;
  font-size: $font-size--subject;
  font-variant: $font-variant--subject;
  font-weight: $font-weight--subject;
  letter-spacing: $letter-spacing--subject;
  line-height: $line-height--subject;
  text-align: $text-align--subject;
  text-transform: $text-transform--subject;
}

// #  <h2>
h2 {
  color: $color--section-title;
  font-family: $font-family--section-title;
  font-size: $font-size--section-title;
  font-variant: $font-variant--section-title;
  font-weight: $font-weight--section-title;
  letter-spacing: $letter-spacing--section-title;
  line-height: $line-height--section-title;
  text-align: $text-align--section-title;
  text-transform: $text-transform--section-title;

  + p::first-letter {
    // This code is purely for testing purposes
    background-color: rgb(0, 255, 0);
    color: rgb(255, 0, 0);
    font-size: $font-size--article-title;
  }
}

// #  <h3>
h3 {
  color: $color--article-title;
  font-family: $font-family--article-title;
  font-size: $font-size--article-title;
  font-variant: $font-variant--article-title;
  font-weight: $font-weight--article-title;
  letter-spacing: $letter-spacing--article-title;
  line-height: $line-height--article-title;
  text-align: $text-align--article-title;
  text-transform: $text-transform--article-title;

  + p::first-letter {
    // This code is purely for testing purposes
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 0);
    font-size: $font-size--article-title;
  }
}

// #  <h4>

// #  <h5>

// #  <h6>

/* -------------------------------------------------------------------------- *\
-  Block Text Content
\* -------------------------------------------------------------------------- */

// #  <blockquote>

// #  <figcaption>

// #  <figure>

// #  <hr>

// #  <li>

// #  <ol>

// #  <ul>

// #  <p>
p {
  color: $color--text;
  font-family: $font-family--text;
  font-size: $font-size--text;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;
}

/* -------------------------------------------------------------------------- *\
-  Inline Text Semantics
\* -------------------------------------------------------------------------- */

// #  <a>

a {
  text-align: center;
  text-decoration: none;
  color: $color--text;

  &:hover {
    color: $color--section-title;
    text-decoration: underline;
  }

  &:focus {
    color: $color--section-title;
    text-decoration: underline;
  }
}

// #  <abbr>

// #  <cite>

// #  <em>

// #  <mark>

// #  <q>

// #  <small>

// #  <span>

// #  <sub>

// #  <sup>

// #  <time>
