/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< BLOCK TEXT CONTENT >>-------------------->>
\* -------------------------------------------------------------------------- */

// #  Common Properties
p,
li,
blockquote,
figcaption {
  padding: $buffer--xs 0;
  color: var(--color-foreground);
  font-family: $font-family--text;
  font-size: $font-size--1;
  font-variant: $font-variant--text;
  font-weight: $font-weight--text;
  letter-spacing: $letter-spacing--text;
  line-height: $line-height--text;
  text-align: $text-align--text;
  text-transform: $text-transform--text;
}

// #  <---------------| <blockquote> |--------------->

// #  <---------------| <figcaption> |--------------->

// #  <---------------| <figure> |--------------->

// #  <---------------| <hr> |--------------->
hr {
  width: 100%;
  height: $buffer--xs;
  border: 0;
  margin: $buffer--s auto;
  background-image: linear-gradient(
    to right,
    hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0
    ),
    hsla(
      var(--color-foreground-h),
      var(--color-foreground-s),
      var(--color-foreground-l),
      0.5
    ),
    hsla(
      var(--color-foreground-h),
      var(--color-foreground-s),
      var(--color-foreground-l),
      0.75
    ),
    hsla(
      var(--color-foreground-h),
      var(--color-foreground-s),
      var(--color-foreground-l),
      0.5
    ),
    hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0
    )
  );
}
// #  <---------------| <ol> |--------------->

// #  <---------------| <ul> |--------------->

// #  <---------------| <li> |--------------->
li {
  padding: $buffer--xs 0;
  list-style-type: none;
}

// #  <---------------| <p> |--------------->

/* -------------------------------------------------------------------------- *\
-  INLINE TEXT SEMANTICS
\* -------------------------------------------------------------------------- */

// #  <---------------| <a> |--------------->
a,
button {
  padding: $buffer--xs 0;
  color: var(--color-primary);
  font-family: $font-family--link;
  font-size: $font-size--2;
  font-variant: $font-variant--link;
  font-weight: $font-weight--link;
  letter-spacing: $letter-spacing--link;
  text-align: $line-height--link;
  text-decoration: none;
  text-transform: $text-transform--link;

  &:hover {
    color: var(--color-secondary);
  }

  i {
    margin-right: $buffer--s;
    text-align: center;
  }
}

// #  <---------------| <abbr> |--------------->

// #  <---------------| <cite> |--------------->

// #  <---------------| <em> |--------------->

// #  <---------------| <mark> |--------------->

// #  <---------------| <q> |--------------->

// #  <---------------| <small> |--------------->

// #  <---------------| <span> |--------------->

// #  <---------------| <sub> |--------------->

// #  <---------------| <sup> |--------------->

// #  <---------------| <time> |--------------->
