/* -------------------------------------------------------------------------- *\
*  _header.scss: This partial file contains all 'header' styles.
\* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- *\
-  HEADER MAIN: .main-header
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.92);
  transform: translateY(0);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
    background 0.3s;
  will-change: transform;

  // width: 100vw;
}

// -  <<----------<< Specific >>---------->>

.main-header {
  // ...
  background-color: transparent;

  &__container {
    background-color: hsla(
      var(--color-background-h),
      var(--color-background-s),
      var(--color-background-l),
      0.75
    );

    border-radius: $small-dimension--s;
  }
}

/* -------------------------------------------------------------------------- *\
-  NAV MAIN: .main-nav
\* -------------------------------------------------------------------------- */

// -  <<----------<< General >>---------->>

.main-nav {
  &__container {
    margin: 0 auto;
    // background-color: lightpink;
  }

  &__nav-logo {
    // background-color: hotpink;
  }

  &__mobile-menu {
    // background-color: deeppink;
  }

  &__mobile-menu-slice {
    // background-color: palevioletred;
  }

  &__list {
    // background-color: mediumvioletred;
  }

  &__item {
    // background-color: lavender;
  }
}

// -  <<----------<< Specific >>---------->>

// ...

/* -------------------------------------------------------------------------- *\
-  Other
\* -------------------------------------------------------------------------- */

.menu-left a {
  position: relative;
  display: inline-block;
  padding-bottom: 0;
  transition: color 0.35s ease;
}

.menu-left a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  content: '';
  transition: width 0s ease, background 0.35s ease;
}

.menu-left a::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-foreground);
  content: '';
  transition: width 0.35s ease;
}

.menu-left a:hover::before {
  width: 100%;
  background: var(--color-tertiary);
  transition: width 0.35s ease;
}

.menu-left a:hover::after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

header nav .nav-logo {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  color: var(--color-primary);
  color: var(--color-foreground);
  float: left;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: inherit;
}

header nav .nav-logo::after {
  display: table;
  clear: both;
  content: '';
}

header nav ul {
  padding-left: 0;
  margin: 0;
}

header nav ul li {
  margin-left: 0;
  float: none;
}

@media (min-width: 768px) {
  header nav ul li {
    margin-left: 1rem;
    float: left;
  }
}

header nav ul li a {
  display: block;
}

@media (max-width: 768px) {
  ul {
    clear: both;
  }
}

.hide-nav {
  transform: translateY(-120%) !important;
  transform: translateY(-120% !important);
}

ul.menu-left {
  z-index: 10;
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-out;
}

@media (min-width: 768px) {
  ul.menu-left {
    display: block !important;
    max-height: none;
    float: right;
  }
}

ul.menu-left::before {
  display: table;
  clear: both;
  content: '';
}

ul.menu-left.collapse {
  max-height: 15em !important;
}

.nav-toggle {
  display: block;
  width: 38px;
  height: 38px;
  padding: 8px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}

.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle span {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 4px;
  background-color: var(--color-foreground);
  transition: all 0.25s;
}
