@charset "UTF-8";
/* ========================================================================== *\
+  PARTIAL SCSS GROUP 1 - `abstracts/`
\* ========================================================================== */
@import url("https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css");
@-webkit-keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.main__container > section {
  min-height: 100vh;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: space-evenly;
  place-items: stretch;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: space-evenly;
  place-items: stretch;
}

.container {
  width: 100%;
  max-width: 1380px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
}

@media (max-width: 770px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< BOX BORDER >>-------------------->>
\* -------------------------------------------------------------------------- */
.box {
  width: 100%;
  height: 100%;
  padding: null;
  position: relative;
  top: 50%;
  left: 50%;
  padding: 0.25rem;
  border: 0.125rem solid var(--color-tertiary);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.box::before, .box::after {
  position: absolute;
  top: 0.25rem;
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid var(--color-tertiary);
  color: var(--color-tertiary);
  content: '•';
  font-size: 1rem;
  line-height: 0.5625rem;
  text-align: center;
}

.box::before {
  left: 0.25rem;
}

.box::after {
  right: 0.25rem;
}

.box-inner {
  position: relative;
  height: 100%;
  padding: 1rem;
  border: 0.125rem solid var(--color-tertiary);
}

.box-inner::before, .box-inner::after {
  position: absolute;
  bottom: -0.125rem;
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid var(--color-tertiary);
  color: var(--color-tertiary);
  content: '•';
  font-size: 1rem;
  line-height: 0.5625rem;
  text-align: center;
}

.box-inner::before {
  left: -0.125rem;
}

.box-inner::after {
  right: -0.125rem;
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< CARD >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< ICON >>-------------------->>
\* -------------------------------------------------------------------------- */
.fas,
[data-prefix='fas'] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: visible;
  -ms-flex-item-align: center;
      align-self: center;
}

.fab,
[data-prefix='fab'] {
  width: 2.44141rem;
  height: 2.44141rem;
  font-size: 2.44141rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: visible;
  -ms-flex-item-align: center;
      align-self: center;
}

.fab:hover,
[data-prefix='fab']:hover {
  color: var(--color-secondary);
}

.fa-heart:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #f00;
}

.fa-facebook:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #1877f2;
}

.fa-twitter:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #1da1f2;
}

.fa-instagram:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #e4405f;
}

.fa-pinterest:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #bd081c;
}

.fa-youtube:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #f00;
}

.fa-shopping-basket:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #000;
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MAIN FOOTER >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MAIN HEADER >>-------------------->>
\* -------------------------------------------------------------------------- */
/* ========================================================================== *\
+  PARTIAL SCSS GROUP 2 - `vendors/`
\* ========================================================================== */
/* -------------------------------------------------------------------------- *\
*  <<--------------------<< MODERN NORMALIZE >>-------------------->>
\* -------------------------------------------------------------------------- */
/* ========================================================================== *\
+  PARTIAL SCSS GROUP 3 - `base/`
\* ========================================================================== */
/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< ROOT >>-------------------->>
\* -------------------------------------------------------------------------- */
* {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  font-size: 1rem;
  font-size: clamp(1rem, 0.5rem + 1.25vw, 1.25rem);
}

body {
  display: block;
  margin: 0 auto;
  background-color: var(--color-background);
  overflow-x: hidden;
}

@media (min-width: 320px) {
  body {
    background-color: #2f4f4f;
  }
}

@media (min-width: 640px) {
  body {
    background-color: #704241;
  }
}

@media (min-width: 960px) {
  body {
    background-color: #674846;
  }
}

@media (min-width: 1280px) {
  body {
    background-color: #52593b;
  }
}

@media (min-width: 1600px) {
  body {
    background-color: #414a4c;
  }
}

@media (min-width: 1920px) {
  body {
    background-color: #32174d;
  }
}

@media (min-width: 2240px) {
  body {
    background-color: #1a2421;
  }
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< SECTIONING >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  <<--------------------<< MAIN >>-------------------->>
\* -------------------------------------------------------------------------- */
nav {
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  border-radius: 8px;
}

article {
  width: 100%;
  padding: 0.5rem;
}

section {
  width: 100%;
  max-width: 1920px;
  padding: 0.5rem;
  min-height: 100vh;
}

aside {
  width: 100%;
  padding: 0.5rem;
}

/* -------------------------------------------------------------------------- *\
-  <<--------------------<< SUB >>-------------------->>
\* -------------------------------------------------------------------------- */
header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.5rem;
  margin: 0 auto;
}

footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.5rem;
}

main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: null;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< NON-SEMANTIC  >>-------------------->>
\* -------------------------------------------------------------------------- */
div {
  width: 100%;
  padding: null;
}

/* -------------------------------------------------------------------------- *\
*  <<--------------------<< HEADING >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  <<--------------------<< Heading >>-------------------->>
\* -------------------------------------------------------------------------- */
h1 {
  padding: 1rem 0;
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 3.8147rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  padding: 1rem 0;
  color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 3.05176rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  padding: 0.5rem 0;
  color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
  font-size: 2.44141rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
}

h4 {
  padding: 0.5rem 0;
  color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
  font-size: 1.95312rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 1.25;
  text-transform: capitalize;
}

h5 {
  padding: 0.25rem 0;
  color: var(--color-tertiary);
  font-family: "Roboto Slab", serif;
  font-size: 1.5625rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
}

h6 {
  padding: 0.25rem 0;
  color: var(--color-tertiary);
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
}

h1 + p::first-letter,
h2 + p::first-letter,
h3 + p::first-letter,
h4 + p::first-letter,
h5 + p::first-letter,
h6 + p::first-letter {
  padding: 0.5rem 0;
  color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
  font-size: 1.95312rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 1.25;
  text-transform: capitalize;
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< BLOCK TEXT >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< DESCRIPTION >>-------------------->>
\* -------------------------------------------------------------------------- */
dl {
  width: 100%;
  padding: null;
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
}

dt {
  width: 100%;
  padding: null;
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

dd {
  width: 100%;
  padding: null;
  padding: 0.125rem 0;
  color: var(--color-text--lighter);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< FIGURE >>-------------------->>
\* -------------------------------------------------------------------------- */
figure {
  width: 100%;
  padding: null;
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
}

figcaption {
  width: 100%;
  padding: null;
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< LISTS >>-------------------->>
\* -------------------------------------------------------------------------- */
ol {
  width: 100%;
  padding: null;
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
}

ul {
  width: 100%;
  padding: null;
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
}

li {
  width: 100%;
  padding: null;
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
  list-style-type: none;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CONTENT >>-------------------->>
\* -------------------------------------------------------------------------- */
address {
  width: 100%;
  padding: null;
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

blockquote {
  width: 100%;
  padding: null;
  padding: 0.125rem 0;
  color: var(--color-text--lighter);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5;
  border-left: 0.25rem solid var(--color-tertiary--darkest);
}

blockquote cite {
  width: 100%;
  padding: null;
  padding: 0.125rem 0;
  color: var(--color-text--lighter);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5;
}

hr {
  width: 100%;
  height: 1px;
  margin: 0.25rem;
  padding: 0.25rem;
  background-image: -webkit-gradient(linear, left top, right top, from(hsla(var(--color-background-h), var(--color-background-s), var(--color-background-l), 0)), color-stop(hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0.5)), color-stop(hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0.75)), color-stop(hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0.5)), to(hsla(var(--color-background-h), var(--color-background-s), var(--color-background-l), 0)));
  background-image: linear-gradient(to right, hsla(var(--color-background-h), var(--color-background-s), var(--color-background-l), 0), hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0.5), hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0.75), hsla(var(--color-text-h), var(--color-text-s), var(--color-text-l), 0.5), hsla(var(--color-background-h), var(--color-background-s), var(--color-background-l), 0));
}

p {
  width: 100%;
  padding: null;
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

pre {
  width: 100%;
  padding: null;
  padding: 0.125rem 0;
  color: var(--color-text--lighter);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5;
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< INLINE TEXT >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< VISUAL >>-------------------->>
\* -------------------------------------------------------------------------- */
b {
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
}

code {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-secondary--lighter);
  background: var(--color-tertiary--lighter);
  border-radius: 8px;
  color: var(--color-primary);
  font-family: "Fira Mono", monospace;
  font-size: 1.125rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 300;
  line-height: 1.5;
}

em {
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
}

i {
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
}

kbd {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-secondary--lighter);
  background: var(--color-tertiary--lighter);
  border-radius: 8px;
  color: var(--color-primary);
  font-family: "Fira Mono", monospace;
  font-size: 1.125rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 300;
  line-height: 1.5;
}

mark {
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-tertiary--lighter);
}

s {
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: line-through;
}

samp {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-secondary--lighter);
  background: var(--color-tertiary--lighter);
  border-radius: 8px;
  color: var(--color-primary);
  font-family: "Fira Mono", monospace;
  font-size: 1.125rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 300;
  line-height: 1.5;
}

small {
  padding: 0.125rem 0;
  color: var(--color-text--lighter);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5;
}

strong {
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
}

sub {
  padding: 0.125rem 0;
  color: var(--color-text--lighter);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5;
  vertical-align: bottom;
}

sup {
  padding: 0.125rem 0;
  color: var(--color-text--lighter);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5;
  vertical-align: top;
}

u {
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: underline;
}

var {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-secondary--lighter);
  background: var(--color-tertiary--lighter);
  border-radius: 8px;
  color: var(--color-primary);
  font-family: "Fira Mono", monospace;
  font-size: 1.125rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 300;
  line-height: 1.5;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< FUNCTIONAL >>-------------------->>
\* -------------------------------------------------------------------------- */
a {
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.25rem 0.5rem;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}

a:hover {
  color: var(--color-secondary);
}

a:hover path {
  color: var(--color-secondary);
}

a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  content: '';
  -webkit-transition: width 0s ease, background 0.35s ease;
  transition: width 0s ease, background 0.35s ease;
}

a::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-secondary);
  content: '';
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

a:hover::before {
  width: 100%;
  background: var(--color-secondary);
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

a:hover::after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

abbr {
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
  border-bottom: 1px dotted var(--color-tertiary);
}

bdi {
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

bdo {
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

cite {
  padding: 0.125rem 0;
  color: var(--color-text--lighter);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5;
}

data {
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
  font-variant: small-caps;
}

dfn {
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
}

q {
  padding: 0.125rem 0;
  color: var(--color-text--lighter);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.5;
  border-left: 4px solid var(--color-tertiary--darkest);
  font-style: italic;
}

q::before {
  content: none;
}

q::after {
  content: none;
}

time {
  padding: 0.25rem 0;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.25;
}

wbr {
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< NON-SEMANTIC >>-------------------->>
\* -------------------------------------------------------------------------- */
span {
  padding: 0.25rem 0;
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MULTIMEDIA >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< REGULAR >>-------------------->>
\* -------------------------------------------------------------------------- */
img {
  width: 100%;
  padding: null;
  background-color: var(--bg-color--transparant---softest);
  color: var(--color-text);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}

video {
  width: 100%;
  padding: null;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< COMPLEX >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< SPECIAL >>-------------------->>
\* -------------------------------------------------------------------------- */
svg {
  width: 100%;
  padding: null;
  color: var(--color-primary);
  fill: var(--color-primary);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}

svg path {
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}

math {
  color: var(--color-text);
}

/* -------------------------------------------------------------------------- *\
*  <<--------------------<< TABLE >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< PARENTS >>-------------------->>
\* -------------------------------------------------------------------------- */
table {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
}

tr {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
}

tbody {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
}

tbody tr:nth-child(even) {
  background-color: var(--color-background);
  color: var(--color-text);
}

tbody tr:nth-child(even) button {
  background-color: var(--color-background--lighter);
  color: var(--color-text);
}

tbody tr:nth-child(even) button:hover {
  background-color: var(--color-background);
  color: var(--color-text);
}

tfoot {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
}

colgroup {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CHILDREN >>-------------------->>
\* -------------------------------------------------------------------------- */
caption {
  padding: 0.25rem;
  color: var(--color-text);
}

col {
  padding: 0.25rem;
  color: var(--color-text);
}

th {
  padding: 0.25rem;
  color: var(--color-text);
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

td {
  padding: 0.25rem;
  color: var(--color-text);
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< FORMS >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< PARENTS >>-------------------->>
\* -------------------------------------------------------------------------- */
form {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
}

datalist {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
}

fieldset {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
}

optgroup {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--color-secondary--darker);
  margin: 0.5rem;
  background: var(--color-tertiary--darker);
  border-radius: 16px;
  color: var(--color-primary--darker);
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 1.25;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< CHILDREN >>-------------------->>
\* -------------------------------------------------------------------------- */
select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  background: var(--color-tertiary);
  border-radius: 8px;
  color: var(--color-primary);
  font-family: "Fira Mono", monospace;
  font-size: 1.25rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
}

select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

select:focus {
  -webkit-box-shadow: 0 0 0 2px var(--color-secondary);
          box-shadow: 0 0 0 2px var(--color-secondary);
  outline: 0;
}

select:hover {
  color: var(--color-secondary);
}

select [multiple] {
  padding-right: 0.5rem;
  background-image: none;
  overflow-y: auto;
}

select:not([type='checkbox']):not([type='radio']) {
  display: block;
}

button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  background: var(--color-tertiary);
  border-radius: 8px;
  color: var(--color-primary);
  font-family: "Fira Mono", monospace;
  font-size: 1.25rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:focus {
  -webkit-box-shadow: 0 0 0 2px var(--color-secondary);
          box-shadow: 0 0 0 2px var(--color-secondary);
  outline: 0;
}

button:hover {
  color: var(--color-secondary);
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  background: var(--color-tertiary);
  border-radius: 8px;
  color: var(--color-primary);
  font-family: "Fira Mono", monospace;
  font-size: 1.25rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  outline: none;
  vertical-align: top;
}

input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input:focus {
  -webkit-box-shadow: 0 0 0 2px var(--color-secondary);
          box-shadow: 0 0 0 2px var(--color-secondary);
  outline: 0;
}

input:hover {
  color: var(--color-secondary);
}

input [type='submit'] {
  padding: 0.5rem;
  margin: 0.5rem;
  background: var(--color-tertiary--lighter);
}

input [type='submit']:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

input [type='reset'] {
  padding: 0.5rem;
  margin: 0.5rem;
  background: var(--color-tertiary--lighter);
}

input [type='reset']:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

input [type='checkbox'] {
  width: 1rem;
  height: 1rem;
  padding: 0.125rem 0.25rem;
}

input [type='checkbox']:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

input [type='range'] {
  width: 1rem;
  height: 1rem;
  padding: 0.125rem 0.25rem;
  background: transparent;
}

input [type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: var(--color-tertiary);
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input [type='range']:focus::-webkit-slider-runnable-track {
  background: var(--color-tertiary);
}

input [type='range']::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  -webkit-appearance: none;
          appearance: none;
  background: var(--color-secondary);
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px #000, 0 0 1px #0d0d0d;
          box-shadow: 0 1px 1px #000, 0 0 1px #0d0d0d;
}

input [type='range']:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

input [type='radio'] {
  width: 1rem;
  height: 1rem;
  padding: 0.125rem 0.25rem;
  border-radius: 100%;
}

input [type='radio']:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

input [type='color'] {
  width: 1rem;
  height: 1rem;
  padding: 0.125rem 0.25rem;
}

input [type='button'] {
  padding: 0.5rem;
  margin: 0.5rem;
  background: var(--color-tertiary--lighter);
}

input [type='button']:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

input:not([type='checkbox']):not([type='radio']) {
  display: block;
}

input::-webkit-input-placeholder {
  color: var(--color-text--lightest);
}

input:-ms-input-placeholder {
  color: var(--color-text--lightest);
}

input::-ms-input-placeholder {
  color: var(--color-text--lightest);
}

input::placeholder {
  color: var(--color-text--lightest);
}

label {
  display: inline-block;
  padding: 0.125rem 0.25rem;
  color: var(--color-text);
  vertical-align: middle;
}

legend {
  padding: 0.125rem 0.25rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: 1.25rem;
}

meter {
  padding: 0.125rem 0.25rem;
  color: var(--color-text);
}

option {
  padding: 0.125rem 0.25rem;
  color: var(--color-text);
}

output {
  padding: 0.125rem 0.25rem;
  color: var(--color-text);
}

progress {
  padding: 0.125rem 0.25rem;
  color: var(--color-text);
}

textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  background: var(--color-tertiary);
  border-radius: 8px;
  color: var(--color-primary);
  font-family: "Fira Mono", monospace;
  font-size: 1.25rem;
  font-stretch: normal;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease, -webkit-box-shadow 0.1s linear, -webkit-transform 0.1s ease;
  display: block;
}

textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

textarea:focus {
  -webkit-box-shadow: 0 0 0 2px var(--color-secondary);
          box-shadow: 0 0 0 2px var(--color-secondary);
  outline: 0;
}

textarea:hover {
  color: var(--color-secondary);
}

textarea::-webkit-input-placeholder {
  color: var(--color-primary--lightest);
}

textarea:-ms-input-placeholder {
  color: var(--color-primary--lightest);
}

textarea::-ms-input-placeholder {
  color: var(--color-primary--lightest);
}

textarea::placeholder {
  color: var(--color-primary--lightest);
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< component >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< Disclosure Widget >>-------------------->>
\* -------------------------------------------------------------------------- */
summary {
  padding: 0.25rem;
  margin: 0.25rem;
  color: var(--color-text);
}

details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--color-background--lighter);
  border-radius: 4px;
  color: var(--color-text);
}

details [open] {
  padding: 0.5rem;
}

details > :last-child {
  margin-bottom: 0;
}

details [open] summary {
  margin-bottom: 0.5rem;
}

/* -------------------------------------------------------------------------- *\
// -  <<--------------------<< Other >>-------------------->>
\* -------------------------------------------------------------------------- */
dialog {
  padding: 0.5rem;
  border: 0;
  border-color: var(--color-secondary);
  margin: 0.5rem;
  background-color: var(--color-background--lighter);
  border-radius: 4px;
  color: var(--color-text);
}

dialog > header:first-child {
  padding: 0.5rem;
  margin: -2.5rem 0.5rem;
  background-color: var(--color-background);
  border-radius: 4px 4px 0 0;
  color: var(--color-text);
  text-align: center;
}

dialog::-webkit-backdrop {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: #0000009c;
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: #0000009c;
}

menu {
  padding: 0.25rem;
  margin: 0.25rem;
  color: var(--color-text);
}

/* ========================================================================== *\
+  PARTIAL SCSS GROUP 4 - `layout/`
\* ========================================================================== */
/* ========================================================================== *\
+  PARTIAL SCSS GROUP 5 - `components/`
\* ========================================================================== */
/* ========================================================================== *\
+  PARTIAL SCSS GROUP 6 - `pages/`
\* ========================================================================== */
/* ========================================================================== *\
+  PARTIAL SCSS GROUP 7 - `themes/`
\* ========================================================================== */
/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< LIGHT ALT >>-------------------->>
\* -------------------------------------------------------------------------- */
:root,
[data-theme='light--alt'] {
  /* - ----------------------------------------------------------------------- */
  /* - <<--------------------<< TRANSPARANT BG COLORS >>-------------------->> */
  /* - ----------------------------------------------------------------------- */
  --bg-color--transparant---sofest: hsla(0, 0%, 100%, 0.05);
  --bg-color--transparant---softer: hsla(0, 0%, 100%, 0.2);
  --bg-color--transparant---soft: hsla(0, 0%, 100%, 0.35);
  --bg-color--transparant---medium: hsla(0, 0%, 100%, 0.5);
  --bg-color--transparant---hard: hsla(0, 0%, 100%, 0.65);
  --bg-color--transparant---harder: hsla(0, 0%, 100%, 0.8);
  --bg-color--transparant---hardest: hsla(0, 0%, 100%, 0.95);
  /* -  ---------------------------------------------------------------- */
  /* -  <<--------------------<< REGULAR COLORS >>-------------------->> */
  /* -  ---------------------------------------------------------------- */
  /* #  ---------------------------------------- */
  /* #  text color group */
  /* #  ---------------------------------------- */
  --color-text--lightest: #4d4d70;
  --color-text--lighter: #262652;
  --color-text: #000033;
  --color-text--darker: #00002b;
  --color-text--darkest: #000024;
  /* #  ---------------------------------------- */
  /* #  background color group */
  /* #  ---------------------------------------- */
  --color-background--lightest: #fafaff;
  --color-background--lighter: #f9f9ff;
  --color-background: #f8f8ff;
  --color-background--darker: #d3d3d9;
  --color-background--darkest: #aeaeb3;
  /* #  ---------------------------------------- */
  /* #  primary color group */
  /* #  ---------------------------------------- */
  --color-primary--lightest: #4e6d85;
  --color-primary--lighter: #284d6b;
  --color-primary: #022e51;
  --color-primary--darker: #022745;
  --color-primary--darkest: #012039;
  /* #  ---------------------------------------- */
  /* #  secondary color group */
  /* #  ---------------------------------------- */
  --color-secondary--lightest: #7e9fce;
  --color-secondary--lighter: #628bc4;
  --color-secondary: #4676b9;
  --color-secondary--darker: #3c649d;
  --color-secondary--darkest: #315382;
  /* #  ---------------------------------------- */
  /* #  tertiary color group */
  /* #  ---------------------------------------- */
  --color-tertiary--lightest: #cdac7e;
  --color-tertiary--lighter: #c29a62;
  --color-tertiary: #b78846;
  --color-tertiary--darker: #9c743c;
  --color-tertiary--darkest: #805f31;
  /* #  ---------------------------------------- */
  /* #  --color-text hsl */
  /* #  ---------------------------------------- */
  --color-text-h: 240;
  --color-text-s: 100%;
  --color-text-l: 10%;
  /* #  ---------------------------------------- */
  /* #  --color-background hsl */
  /* #  ---------------------------------------- */
  --color-background-h: 240;
  --color-background-s: 100%;
  --color-background-l: 98.6%;
  /* #  ---------------------------------------- */
  /* #  --color-primary hsl */
  /* #  ---------------------------------------- */
  --color-primary-h: 206.6;
  --color-primary-s: 95.2%;
  --color-primary-l: 16.3%;
  /* #  ---------------------------------------- */
  /* #  --color-secondary hsl */
  /* #  ---------------------------------------- */
  --color-secondary-h: 215;
  --color-secondary-s: 45.1%;
  --color-secondary-l: 50%;
  /* #  ---------------------------------------- */
  /* #  --color-tertiary hsl */
  /* #  ---------------------------------------- */
  --color-tertiary-h: 35;
  --color-tertiary-s: 44.7%;
  --color-tertiary-l: 49.6%;
}

nav,
article,
section,
aside {
  outline: 2px double #ff4500;
}

header,
footer {
  outline: 2px double #cd5c5c;
}

div {
  outline: 2px dashed #f00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  outline: 2px double #ff6347;
}

dl,
dt,
dd {
  outline: calc(1px * 1.5) ridge #00bfff;
}

figure,
figcaption {
  outline: calc(1px * 1.5) ridge #1e90ff;
}

ol,
ul,
li {
  outline: calc(1px * 1.5) ridge #4682b4;
}

address,
blockquote,
hr,
p,
pre {
  outline: calc(1px * 1.5) ridge #00f;
}

b,
code,
kbd,
mark,
samp,
span,
strong,
var {
  outline: 1px dotted #0f0;
}

a,
abbr,
bdi,
bdo,
br,
cite,
data,
dfn,
q,
time,
wbr {
  outline: 1px dotted #00ff7f;
}

area,
audio,
img,
map,
track,
video {
  outline: calc(1px * 1.25) ridge #ff0;
}

embed,
iframe,
object,
param,
picture,
source {
  outline: calc(1px * 1.25) ridge #f0e68c;
}

svg,
math {
  outline: calc(1px * 1.25) ridge #ffd700;
}

table,
thead,
tbody,
tfoot,
colgroup,
tr {
  outline: calc(1px * 1.5) solid #9932cc;
}

caption,
col,
th,
td {
  outline: calc(1px * 1.25) solid #6a5acd;
}

form,
datalist,
fieldset,
optgroup,
select {
  outline: calc(1px * 1.5) solid #008080;
}

button,
input,
label,
legend,
meter,
option,
output,
progress,
textarea {
  outline: calc(1px * 1.25) solid #40e0d0;
}

details,
summary {
  outline: calc(1px * 1.25) solid #ff1493;
}

dialog,
menu {
  outline: calc(1px * 1.25) solid #ff69b4;
}
/*# sourceMappingURL=main.css.map */