/* ========================================================================== *\
+  PARTIAL SCSS GROUP 1 - `abstracts/`
\* ========================================================================== */
@import url("https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css");
html {
  --wireframe--bg-color: hsla(0, 0%, 0%, 0.5);
  --wireframe--wire: #f00;
}

/* -------------------------------------------------------------------------- *\
-  Wireframe
\* -------------------------------------------------------------------------- */
[data-wf] {
  position: relative;
  z-index: 1;
  outline: calc(0.25rem / 2) solid var(--wireframe--wire);
}

[data-wf]::before {
  position: absolute;
  z-index: 8675309;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(to top right, transparent calc(50% - 1px), var(--wireframe--wire) calc(50% - 1px), var(--wireframe--wire) calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(to bottom right, transparent calc(50% - 1px), var(--wireframe--wire) calc(50% - 1px), var(--wireframe--wire) calc(50% + 1px), transparent calc(50% + 1px)), var(--wireframe--bg-color);
  color: var(--wireframe--wire);
  content: attr(data-wf);
  font: bold 2em Jubilat, Georgia, serif;
  text-shadow: 0 0 0.25em var(--wireframe--bg-color), 0 0 0.25em var(--wireframe--bg-color), 0 0 0.25em var(--wireframe--bg-color), 0 0 0.25em var(--wireframe--bg-color), 0 0 0.25em var(--wireframe--bg-color);
}

address,
article,
aside,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
main,
nav,
section {
  outline: calc(0.25rem / 2) red dashed;
}

blockquote,
dd,
dl,
dt,
figcaption,
figure,
hr,
li,
ol,
p,
pre,
ul {
  outline: calc(0.25rem / 3) green dashed;
}

a,
br,
button,
cite,
code,
datalist,
em,
i,
input,
img,
label,
mark,
meter,
output,
progress,
q,
select,
svg,
textarea,
u,
video,
time,
span {
  outline: calc(0.25rem / 4) blue dashed;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.full-width {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin-right: -50vw;
  margin-left: -50vw;
}

/* ========================================================================== *\
+  PARTIAL SCSS GROUP 2 - `vendors/`
\* ========================================================================== */
/* -------------------------------------------------------------------------- *\
*  _modern-normalize.scss: This partial file contains the 'modern-normalize'.
\* -------------------------------------------------------------------------- */
/* ========================================================================== *\
+  PARTIAL SCSS GROUP 3 - `base/`
\* ========================================================================== */
/* -------------------------------------------------------------------------- *\
*  _base.scss: This partial file contains the custom `base` HTML tags
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Core
\* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
  font-size: clamp(1rem, 0.5rem + 1.25vw, 1.5rem);
}

body {
  min-width: calc(320px - 3rem);
  margin: 0 auto;
  color: var(--foreground-color);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: normal;
}

/* -------------------------------------------------------------------------- *\
*  _layout.scss: This partial file contains all the default 'layout'.
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Header
\* -------------------------------------------------------------------------- */
.menu-left a {
  position: relative;
  display: inline-block;
  padding-bottom: 0;
  -webkit-transition: color 0.35s ease;
  transition: color 0.35s ease;
}

.menu-left a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  content: '';
  -webkit-transition: width 0s ease, background 0.35s ease;
  transition: width 0s ease, background 0.35s ease;
}

.menu-left a::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  content: '';
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.menu-left a:hover::before {
  width: 100%;
  background: #000;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.menu-left a:hover::after {
  width: 100%;
  background: transparent;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.92);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  will-change: transform;
}

header nav .nav-logo {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  color: black;
  float: left;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: inherit;
}

header nav .nav-logo::after {
  display: table;
  clear: both;
  content: '';
}

header nav ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

header nav ul li {
  margin-left: 0;
  float: none;
}

@media (min-width: 768px) {
  header nav ul li {
    margin-left: 1rem;
    float: left;
  }
}

header nav ul li a {
  display: block;
}

@media (min-width: 576px) {
  header nav ul li a {
    display: block;
    padding: 0.425rem 0;
  }
}

@media (max-width: 768px) {
  ul {
    clear: both;
  }
  ul li {
    padding: 0.5em 0;
  }
}

.hide-nav {
  -webkit-transform: translateY(-120%) !important;
          transform: translateY(-120%) !important;
  -webkit-transform: translateY(-120% !important);
          transform: translateY(-120% !important);
}

ul.menu-left {
  z-index: 10;
  display: block;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (min-width: 768px) {
  ul.menu-left {
    display: block !important;
    max-height: none;
    float: right;
  }
}

ul.menu-left::before {
  display: table;
  clear: both;
  content: '';
}

ul.menu-left.collapse {
  max-height: 15em !important;
}

.nav-toggle {
  display: block;
  width: 38px;
  height: 38px;
  padding: 8px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.nav-toggle.open span:first-child {
  -webkit-transform: rotate(45deg) translate(4.4px, 4.4px);
          transform: rotate(45deg) translate(4.4px, 4.4px);
}

.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-toggle.open span:last-child {
  -webkit-transform: rotate(-45deg) translate(4.4px, -4.4px);
          transform: rotate(-45deg) translate(4.4px, -4.4px);
}

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle span {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 4px;
  background-color: #000;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

/* -------------------------------------------------------------------------- *\
-  Nav
\* -------------------------------------------------------------------------- */
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* -------------------------------------------------------------------------- *\
-  Aside
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Section
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Article
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Forms
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Table
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Footer
\* -------------------------------------------------------------------------- */
footer {
  background-color: rgba(70, 130, 180, 0.5);
}

/* -------------------------------------------------------------------------- *\
*  _typography.scss: This partial file contains all application-wide 'typography'.
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Headings
\* -------------------------------------------------------------------------- */
h1 {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 3.8147rem;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0.025rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: var(--secondary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 2.44141rem;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
}

h2 + p::first-letter {
  background-color: lime;
  color: red;
  font-size: 1.5625rem;
}

h3 {
  color: var(--tertiary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  font-variant: small-caps;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  text-align: left;
  text-transform: none;
}

h3 + p::first-letter {
  background-color: blue;
  color: yellow;
  font-size: 1.5625rem;
}

/* -------------------------------------------------------------------------- *\
-  Block Text Content
\* -------------------------------------------------------------------------- */
p,
li,
blockquote,
figcaption {
  color: var(--foreground-color);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-variant: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
}

/* -------------------------------------------------------------------------- *\
-  Inline Text Semantics
\* -------------------------------------------------------------------------- */
a {
  color: var(--primary-color);
  text-align: center;
  text-decoration: none;
}

a i {
  margin-left: 0.5rem;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- *\
*  _media.scss: This partial file contains all application-wide 'media'.
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Svg
\* -------------------------------------------------------------------------- */
svg {
  width: 100%;
  height: auto;
  color: var(--foreground-color);
  fill: var(--foreground-color);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.icon {
  color: var(--foreground-color);
  fill: var(--foreground-color);
}

/* -------------------------------------------------------------------------- *\
-  Img
\* -------------------------------------------------------------------------- */
img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/* ========================================================================== *\
+  PARTIAL SCSS GROUP 4 - `components/`
\* ========================================================================== */
/* -------------------------------------------------------------------------- *\
*  _box.scss: This partial file contains all 'box' styles.
\* -------------------------------------------------------------------------- */
@media (min-width: 320px) {
  .block-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin: 0 auto;
  }
}

/* -------------------------------------------------------------------------- *\
*  _flex-container.scss: This partial file contains all 'flex-container' styles.
\* -------------------------------------------------------------------------- */
@media (min-width: 320px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* -------------------------------------------------------------------------- *\
*  _grid-container.scss: This partial file contains all 'grid-container' styles.
\* -------------------------------------------------------------------------- */
@media (min-width: 320px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    margin: 0 auto;
  }
}

/* -------------------------------------------------------------------------- *\
*  _card.scss: This partial file contains all 'card' styles.
\* -------------------------------------------------------------------------- */
.card {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  margin: 1rem;
  /* Prevent background color leak outs */
  background-clip: padding-box;
  background-color: #a52a2a;
  border-radius: 16px;
}

.card:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* -------------------------------------------------------------------------- *\
*  _toggle.scss: This partial file contains all 'toggle' styles.
\* -------------------------------------------------------------------------- */
.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 8px 16px 0 0;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  content: '';
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* -------------------------------------------------------------------------- *\
*  _burger-menu.scss: This partial file contains all 'burger-menu' styles.
\* -------------------------------------------------------------------------- */
/* ========================================================================== *\
+  PARTIAL SCSS GROUP 5 - `pages/`
\* ========================================================================== */
/* -------------------------------------------------------------------------- *\
*  _index.scss: This partial file contains the styles of the 'index' page.
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
*  _home.scss: This partial file contains the styles of the 'home' page.
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
*  _home-restoration.scss: This partial file contains the styles of the 'home-restoration' page.
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
*  _home-webshop.scss: This partial file contains the styles of the 'home-webshop' page.
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Header-Main: Header
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Nav-Main: Nav
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Section-1: Hero
\* -------------------------------------------------------------------------- */
.hero {
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-image: url("/assets/media/images/marcel-teugels/favorites/kantrechten--05-upscaled.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__flex-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: linear-gradient(45deg, rgba(19, 37, 53, 0.8), rgba(125, 158, 202, 0.8), rgba(202, 154, 125, 0.8));
}

.hero__visual {
  max-height: 50vh;
}

.hero__sub-title {
  color: var(--tertiary-color);
  font-size: 1.25rem;
}

/* -------------------------------------------------------------------------- *\
-  Section-2: Hot Items
\* -------------------------------------------------------------------------- */
.hot-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  place-self: center;
}

/* -------------------------------------------------------------------------- *\
-  Section-3: About
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
-  Footer-Main: Footer
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
*  _login.scss: This partial file contains the styles of the 'login' page.
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
*  _profile.scss: This partial file contains the styles of the 'profile' page.
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
*  _storefront.scss: This partial file contains the'storefront' page styles.
\* -------------------------------------------------------------------------- */
/* ========================================================================== *\
+  PARTIAL SCSS GROUP 6 - `themes/`
\* ========================================================================== */
/* -------------------------------------------------------------------------- *\
*  _light.scss: This partial file contains the 'light' theme.
\* -------------------------------------------------------------------------- */
:root,
[data-theme='light'] {
  --foreground-color: hsl(0, 3%, 10%);
  --background-color: hsl(240, 100%, 99%);
  --primary-color: hsl(207, 48%, 14%);
  --secondary-color: hsl(214, 42%, 64%);
  --tertiary-color: hsl(23, 42%, 64%);
}

/* -------------------------------------------------------------------------- *\
*  _dark.scss: This partial file contains the 'dark' theme.
\* -------------------------------------------------------------------------- */
[data-theme='dark'] {
  --foreground-color: hsl(240, 100%, 99%);
  --background-color: hsl(0, 3%, 10%);
  --primary-color: hsl(27, 48%, 86%);
  --secondary-color: hsl(34, 42%, 36%);
  --tertiary-color: hsl(203, 42%, 36%);
}
/*# sourceMappingURL=main.css.map */