@-webkit-keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.main__container > section {
  min-height: 100vh;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: space-evenly;
  place-items: stretch;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: space-evenly;
  place-items: stretch;
}

.container {
  width: 100%;
  max-width: 1380px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
}

@media (max-width: 770px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< CARD >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< ICON >>-------------------->>
\* -------------------------------------------------------------------------- */
.fas {
  width: 1.25rem;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.fab {
  width: 2.44141rem;
  font-size: 2.44141rem;
}

.fa-heart:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #f00;
}

.fa-facebook-f:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #1877f2;
}

.fa-twitter:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #1da1f2;
}

.fa-instagram:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #e4405f;
}

.fa-pinterest-p:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #bd081c;
}

.fa-youtube:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #f00;
}

.fa-shopping-basket:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #000;
}

/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MAIN FOOTER >>-------------------->>
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
// *  <<--------------------<< MAIN HEADER >>-------------------->>
\* -------------------------------------------------------------------------- */
/*# sourceMappingURL=style-recourses.css.map */